[2013-06-27 15:06] peterneubauer opened #1 "Literal tag being wrapped in <p>?"
See http://neo4j-contrib.github.io/graphgist/#5877172 for an example

[2013-07-09 12:35] nawroth opened #2 "Rendering bug between backticks"
See http://docgist.nawroth.se/?5956922

Both backticked texts render as `CREATE UNIQUE`, while the source actually says `[r:ACTED_IN]` for the second one.

I can't replicate this with Ruby Asciidoctor, so I'm assuming something is wrong with the JS version, thus posting the issue here.

[2013-09-26 13:19] neontapir opened #3 "Support for the .asc file extension"
The Asciidoctor.js plug-in should support the .asc extension. Today, it handles .adoc and .asciidoc.

This issue was raised during discussion of [this Google+ post](https://plus.google.com/114112334290393746697/posts/gNcGKsCPrfw).

[2013-09-27 06:18] #3 closed, assigned to nobody

[2013-10-02 17:03] balupton opened #4 "Publish to npm"
Would be great if you published this to npm. That way we could use this to accomplish bevry/docpad#599

[2013-10-08 04:22] LightGuard opened #5 "Support custom templates"
Not exactly sure how we'll get around the browser sandbox, but I'm sure something can be figured out.

[2013-10-23 01:24] mojavelinux opened #6 "Run JavaScript in rendered HTML"
If the generated HTML contains `<script>` tags, they need to be handled explicitly when embedding the HTML into another document. Provide an API that performs this function.

In fact, it might be a good idea to provide an API that handles embedding the result into an HTML element. We can use Opal's native interface to interact with the DOM.

[2013-10-24 18:09] ggrossetie opened #7 "Add Jasmine.js for testing Asciidoctor.js"
As suggested by @glaforge

https://github.com/Mogztter/asciidoctor.js/commit/4db89ab5d36e4e2b4848f5ff90160408643331cf

What do you think ?

[2013-10-25 10:04] mojavelinux opened #8 "Upgrade to Asciidoctor 1.5.0"
This issue tracks the upgrade to the Asciidoctor 1.5.0 code base.

[2013-11-29 07:54] mojavelinux opened #9 "Make the toc work"
The table of contents currently relies on source files that are not compiled into the Opal environment. Find a way to extract this logic into a location where it can be compiled by Opal and included in asciidoctor.js.

[2013-11-30 02:29] #8 closed, assigned to nobody

[2013-11-30 02:32] mojavelinux opened #11 "Change asciidoctor submodule to a dependency"
Link to Asciidoctor as a RubyGems dependency instead of a git submodule.

Since we've aligned asciidoctor.js with Asciidoctor core, let's switch from using a git submodule to use a RubyGems dependency.

We can still keep the git submodule for the backends for now.

[2013-12-02 08:40] mojavelinux opened #12 "Update "changes to Asciidoctor" section in README"
The changes to Asciidoctor section in the README should be updated to reflect which accommodations Asciidoctor core makes for the Opal compiler / environment.

This section will be important for ensuring that developers who work on Asciidoctor core understand the constraints for allowing the code to be cross compiled.

[2013-12-04 18:05] ggrossetie opened #14 "Document attributes are ignored"
I tried to add `:icons: font` in my document but nothing happened. When I add this attribute in the options page of the Chrome extension, it's working...

[2013-12-06 05:28] #11 closed, assigned to nobody

[2013-12-07 15:36] #2 closed, assigned to mojavelinux

[2013-12-09 08:19] nawroth opened #16 "Support deck.js backend"
I guess supporting multiple backends would make sense, but I find the case of slides especially interesting to be able to render directly in the browser.

Possibly related to #5.

[2014-02-03 22:04] adamtwo opened #17 "attribute values containing '0' not correctly parsed"
Line 9339 of asciidoctor.js seems to replace blanks with 0's in attributes string. Then line 93340 does the inverse using 0's to split into an array. The issue arises when attribute name or value contain 0. In such a case the code below incorrectly splits attribute name or value and inserts partial key or value in the target array.

If we have to do such an ugly hack I recommend using some more un

[2014-02-23 11:49] getreu opened #20 "space plus " +" doesn't insert line break."
See https://github.com/asciidoctor/asciidoctor-chrome-extension/issues/30

[2014-02-28 18:10] cmoulliard opened #21 "rake dist fails"
After cloning the project locally on my machine, running `bundle install` and `rake dist` I get these errors

[code]

Bundle install reports -->

[code]

What could be the issue ?

[2014-02-28 18:59] cmoulliard opened #22 "Missing file asciidoctor_example.js"
The file asciidoctor_example.html available under examples is a template that we can use to render asciidoctor file. It includes an asciidoctor_example.js script file but this file does not exist within the project

Remark : opal.js and asciidoctor.js are avaialable under dist but not relative to the directory of the examples directory.

[code]

[2014-03-01 08:56] #21 closed, assigned to nobody

[2014-03-01 09:00] #22 closed, assigned to nobody

[2014-03-04 22:19] Johnsik opened #23 "Problem with Russian Win7"
When I try to open any AsciiDoc in Chrome I see:

[code]

The problem is in file opal.js:9392 and asciidoctor.js:2740  - the regular expression doesn`t include cyrillic symbols.

The line crush when try parse time zone written in Russian.

I think issue https://github.com/asciidoctor/asciidoctor-chrome-editor/issues/1 caused by the same way.

[2014-03-06 00:18] #23 closed, assigned to mojavelinux

[2014-03-07 16:03] anthonny opened #24 ""include::" not load file content"
When i write :

[code]

The result is a link :

[code]

![capture du 2014-03-07 17 02 52](https://f.cloud.github.com/assets/2006548/2358936/f5715c9a-a611-11e3-9772-cd3d4f4c1c37.png)

The file content is not loaded

[2014-03-10 20:03] rotty3000 opened #25 "hash of attributes"
More of a feature request/inquiry.

Is there a hash of the defined attributes available from js?

[2014-04-05 16:58] thom4parisot opened #26 "Broken code blocks"
Hello,

I am using asciidoctor.js through the Chrome Extension.
It seems the documented code block syntax is not handled properly.

Here are the different use case I encounter and the various outputs it produces.
# Code block + filename + linespace
## Sample asciidoc

[code]
## Output

**Output is _not_ correct**

![codeblock-filename-linebreak](https://cloud.githubusercontent.com/assets/138627/26

[2014-04-05 17:17] #26 closed, assigned to nobody

[2014-05-11 21:46] ggrossetie opened #27 "Upgrade to 1.5.0.preview.5"

[2014-05-11 22:48] #14 closed, assigned to nobody

[2014-05-12 07:52] #27 closed, assigned to nobody

[2014-05-12 07:55] #17 closed, assigned to mojavelinux

[2014-05-12 07:55] #20 closed, assigned to nobody

[2014-05-12 07:55] #24 closed, assigned to mojavelinux

[2014-05-17 15:43] nerk opened #31 "base_dir not working for include:: with relative paths"
Setting the 'base_dir' option as in

[code]

does not seem to affect the relative paths of include::' directives. Relative paths of 'image::' directives are working fine, though.

[2014-05-17 16:09] #31 closed, assigned to nobody

[2014-05-18 02:15] mojavelinux opened #32 "Create a dist build task that populates the dist folder"
Create a dist build task that populates the dist folder with both the minimized and non-minimized versions of asciidoctor.js and asciidoctor_extensions.js.

Consider making another file that combines asciidoctor.js and asciidoctor_extensions.js into one, perhaps asciidoctor_complete.js. We may even want to make an asciidoctor_all.js that also bundles opal.js for simpler usage.

We need to get the

[2014-05-31 14:14] anthonny opened #35 "$opal.Object._scope.IO has no method $read"
I try to convert an asciidoc file with the following parameters :

[code]

I have the following error :

[code]

The problem occured in :

[code]

Any idea to solve the problem ?

[2014-06-17 01:17] mcasperson opened #36 "xlinks split over multiple lines don't get converted"
The following asciidoc

[code]

will be converted to

[code]

The link to X6 is not handled because it flows over a line break.

This was generated with asciidoctor.js 1.5.0 preview 7

[2014-07-28 05:51] rahmanusta opened #37 "Single line quote in Header gives Expected token ')'"
When i use single line quote in the header, getting a Expected token ')' error.

For example.

== WebSocket'e Giriş (Uygulama)

[2014-07-28 06:04] #37 closed, assigned to nobody

[2014-07-28 11:13] #32 closed, assigned to anthonny

[2014-07-28 11:29] anthonny opened #38 "Build fail with Asciidoctor.rc.1"
Having updated the `Gemfile` and i made a fast test, i have the following error :

[code]

Maybe it's an issue for Opal ?

[2014-07-28 18:30] #9 closed, assigned to mojavelinux

[2014-07-29 08:30] rahmanusta opened #40 "netscape.javascript.JSException: TypeError: 'undefined' is not an object (evaluating '$scope.DocBook5Converter.$new'"
In latest version of asciidoctor, im getting;

netscape.javascript.JSException: TypeError: 'undefined' is not an object (evaluating '$scope.DocBook5Converter.$new'

I'm using Nashorn JS Engine

[2014-07-31 19:50] #38 closed, assigned to nobody

[2014-07-31 19:54] anthonny opened #41 "Build fail with Asciidoctor.rc.3"
After having updated **Gemfile** :

[code]

I think Opal hate String values :cry:

[2014-08-01 08:53] #41 closed, assigned to anthonny

[2014-08-04 14:18] golyshevd opened #42 "includes does not work correctly"
using asciidoc.js in nodejs

try-adoc.js:

[code]

include.adoc:

[code]

[code]

hyperlink is not an include, what am i doing wrong?

[2014-08-05 07:53] mojavelinux opened #43 "Integrate XRegExp.js for fully-compliant Unicode support"
We are starting to hit the limits of the basic regexp engine in JavaScript and it may be time to integrate XRegExp.js to better align Ruby and JavaScript.

Thus far, we've used preprocessor-style conditional blocks to setup regular expressions for the Ruby and JavaScript environments, respectively. However, the JavaScript regular expressions can only match word characters within the basic Latin ra

[2014-08-05 09:16] nawroth opened #44 "Include the default CSS in dist"
Having the CSS available would be very useful.

[2014-08-07 18:56] ggrossetie opened #45 "Integrate Asciidoctor.js and MathJax in MacOS WebView"
@jxxcarlson

[2014-08-12 20:01] #44 closed, assigned to nobody

[2014-08-12 21:00] anthonny opened #47 "Release Asciidoctor.js 1.5.0"
I think we can release (tag) asciidoctor.js to 1.5.0, wdyt @Mogztter @mojavelinux  ?

[2014-08-15 13:14] #25 closed, assigned to nobody

[2014-08-17 09:40] #36 closed, assigned to mojavelinux

[2014-08-22 08:43] #40 closed, assigned to nobody

[2014-08-23 18:54] mojavelinux opened #50 "Add npm badges to README"
Add npm and other badges to website using shields.io.

http://shields.io/

Why? Because, badges rule!

[2014-08-23 19:58] anthonny opened #51 "Figure out how to speed up Asciidoctor.js"
Some tools :
https://developer.chrome.com/devtools/docs/cpu-profiling

http://octane-benchmark.googlecode.com/svn/latest/index.html

[2014-08-25 08:34] #45 closed, assigned to nobody

[2014-08-25 08:57] #47 closed, assigned to anthonny

[2014-08-25 08:58] #4 closed, assigned to mojavelinux

[2014-09-02 19:29] #50 closed, assigned to nobody

[2014-09-02 20:10] ggrossetie opened #55 "Publish Asciidoctor.js as Webjar"
https://github.com/webjars/webjars/issues/580
- Asciidoctor.js WebJar repository: https://github.com/asciidoctor/asciidoctor.js-webjar
- Opal WebJar repository: https://github.com/asciidoctor/opal-webjar

Related issue on Opal (Asciidoctor.js dependency): https://github.com/webjars/webjars/issues/579
@elia is Ok (see https://github.com/opal/opal/issues/579)

Thanks @lordofthejars for the original

[2014-09-04 12:26] rahmanusta opened #56 "Callout ids duplication problem"
Hi, when using callouts in code blocks, generated id's makes duplication of ids. How can i generate uniques id's for my callouts. Throwed exception like below .

org.apache.fop.fo.ValidationException: Property ID "CO1-1" (found on "fo:inline") previously used; I
D values must be unique within a document! (See fo:inline, id=CO1-1)

[2014-09-05 19:40] #55 closed, assigned to nobody

[2014-09-05 19:47] #56 closed, assigned to nobody

[2014-09-06 12:03] lordofthejars opened #58 "When an AsciiDoc string is rendered to file an exception is thrown"
When an AsciiDoc string is rendered to file an exception is thrown when Nashorn is used. The test is located at https://github.com/lordofthejars/asciidoctorj/blob/feature_189/src/test/java/org/asciidoctor/WhenAsciidoctorJIsUsedWithinNashorn.java#L52

I think this is the expected behavior because Nashorn is a JavaScript implementation not implementing global functions like TimeOut and so on. So bas

[2014-10-05 14:57] nerk opened #60 "Delimiters not created correctly in MathJax.Hub.Config"
The asciidoctor.js generated MathJax.Hub.Config script block is incorrect and differs from the one created by Ruby Asciidoctor (tested with 1.5.0 and 1.5.1).

This node.js sample code

[code]

embeds  this

[code]

non-working configuration block into HTML.

The correct one created by Ruby Asciidoctor looks like this:

[code]

[2014-10-08 17:05] swallez opened #61 "Accessing document header attributes"
I'm writing an asciidoc(tor.js) plugin for docpad. Any text-based document in Docpad can provide metadata using a YAML front matter, but I'd rather get this metadata from asciidoc's header attributes.

I've successfully parsed the document using `adoc = Asciidoctor().Document.$new(contentString)` and calling `adoc.$render()` on the result works nicely, but I can't find a way to get header attribut

[2014-10-08 21:52] #61 closed, assigned to nobody

[2014-10-09 17:27] nerk opened #62 "stylesheet attribute prepended with "./""
If a URL is passed through the 'stylesheet' attribute, URL in the generated HTML contains an extra './'.

This code (may include syntax errors)

[code]

will include the following link:

[code]

Same results on Windows and Linux.

[2014-10-10 00:10] jvtrigueros opened #63 "Document Title is not converted"
I'm having issues with the following:

[code]

This codes outputs an empty string and no exceptions are thrown. If I change the last line to:

[code]

Then there is some output.

[2014-10-17 21:18] ggrossetie opened #64 "Cross-compile asciidoctor-extensions-lab ?"
I think it would be great to use Asciidoctor extensions with the Chrome extension.
On the option page the user could select one or more extensions... ?

Wdyt ?

[2014-11-02 10:48] rahmanusta opened #67 "Problem with docbook5 backend"
Hi i have a sample book document, i wanted to convert it docbook5 style. Both asciidoctor (ruby) and asciidoctor.js produces chapters in surrounded last book element in document like preface, appendix, colophon etc.

_Sample Content_

[code]

_Sample Docbook5 Output_

[code]

What is the problem there? Thanks.

[2014-11-10 16:51] #67 closed, assigned to mojavelinux

[2014-11-12 08:53] gAmUssA opened #68 "Running Asciidoctor.js with jjs throws exception"
Hello asciidoctor.js team,

Trying to run following script asciidoctor with jjs (Nashorn CLI and REPL).

[code]

Getting following error

[code]

[code]
Do I need to use any specific js file?

Thanks

[2014-11-14 17:39] Mogztter opened #69 "Rework the README"
I think the sections are not in the right order:

1. About
1. Installation
1. Usage
1. Contribute/Build from sources

It could also be nice to create a more detailed documentation about the Javascript API: the `Opal.hash2` is very confusing and there is a `$` before method name.

Another idea is to show how to create an extension in Javascript. I look at the code generated by Opal and it's quite s

[2014-11-14 17:43] #42 closed, assigned to nobody

[2014-11-14 17:45] #7 closed, assigned to nobody

[2014-11-14 17:45] #35 closed, assigned to nobody

[2014-11-14 18:18] #63 closed, assigned to anthonny

[2014-11-14 19:31] #1 closed, assigned to nobody

[2014-11-15 22:06] #64 closed, assigned to nobody

[2014-11-19 06:17] mojavelinux opened #72 "Consolidate build scripts"
We have some (a lot of?) overlap between the grunt and rake tasks. Consolidate the build scripts so that we are doing everything in grunt except for what has to be done in rake. The rake parts should be limited to executing Opal.

Ideally, we could even eliminate rake and just use the opal command directly, but that's not a hard requirement.

[2014-11-19 06:21] mojavelinux opened #73 "Publish dist files to a tag only"
The dist files should only be published to the git repository under a tag. Other option is to push the dist files to a dedicated git repository like asciidoctor.js-dist (though, I'm leading more towards tags). Otherwise, we are constantly checking in the build output, which is unnecessary overhead.

What might help to kick off this task is a link to an article about how to manage published artifac

[2014-11-21 13:41] rahmanusta opened #74 "How to add fontawesome i element?"
For this;

NOTE: The default Asciidoctor stylesheet automatically styles the first paragraph of the preamble as a lead paragraph.

In asciidoctor page im seeing, <i class="fa icon-note" title="Note"></i> element. asciidoctorjs is not generating this, instead, it generates <div class="title">Note</div>.

Is there a way to say asciidoctorjs to generate i element for fontawesome. Thanks.

[2014-11-22 11:42] rahmanusta opened #75 "Support +Monospaced text+"
AsciiDoc declares the ability to declare monospaced text. The current GitHub wiki, I am editing contains a log of such entires like +text+.
Currently AsciidocFX will product Â–0Â— for each monospaced text entry.

[2014-11-22 15:25] Mogztter opened #76 "Document how to write an extension with JavaScript"
I'm trying to write the Chrome inline macro in JavaScript: https://github.com/asciidoctor/asciidoctor-extensions-lab/blob/master/lib/chrome-inline-macro/extension.rb

This is almost working:

[code]

Source

[code]

Result

[code]

As you can see `chrome` keyword is not removed ? @mojavelinux do you have any idea why ? I think this is related to the `named` but the method `self.$named("chrome");`

[2014-11-25 00:16] mojavelinux opened #77 "Upgrade to Opal 0.6.3"
Opal 0.6.3 includes a fix for running on the JDK 6 version of Rhino and is now available on RubyGems.org and the Opal CDN. Time to upgrade!

[2014-11-25 07:37] #75 closed, assigned to mojavelinux

[2014-11-25 07:38] #74 closed, assigned to mojavelinux

[2014-11-28 12:28] #77 closed, assigned to nobody

[2014-11-30 16:38] Mogztter opened #83 "Create a release task"
We are doing a lot of work manually and often forget to update a file or to publish to a repository.
I think it would be great a create a task to automate things:

 * [ ] update package.json
 * [ ] update bower.json
 * [ ] build
 * [ ] test
 * [ ] package
 * [ ] tag version
 * [ ] push to npm
 * [ ] create an issue to update Webjars https://github.com/webjars/asciidoctor.js

[2014-12-01 12:46] rahmanusta opened #84 "How to use asciidoctor-extensions-lab extensions in asciidoctorjs"
I'm thinking to write extension in ruby and transpiling it to js. I'm seeing there is "asciidoctor-extensions-lab" extensions written in ruby. How can i use these extensions in asciidoctor.js ?

[2014-12-12 16:35] rahmanusta opened #85 "How can i integrate backends or How can i create a new backend for Asciidoctorjs"
How can i integrate backends or How can i create a new backend for Asciidoctorjs?

[2014-12-15 12:33] aidanhs opened #86 "shell:rakeDist failed"
[code]

With --trace added to Gruntfile.js:
[code]

i.e.
[code]

Was because I hadn't done `git submodule update --init --recursive`. Can you add this to the instructions?

[2014-12-19 01:22] mojavelinux opened #87 "Provide a CLI interface"
It would be amazing if Asciidoctor.js could provide the same CLI interface (or at the very least, a minimal CLI interface) just like Asciidoctor. That way, people could install Asciidoctor.js (perhaps using npm) and get the asciidoctor command (or perhaps the asciidoctorjs command, to be consistent with AsciidoctorJ and not cause conflicts).

[2014-12-21 09:46] Mogztter opened #88 "Run jdk8_ea and jdk9_ea tasks every night on Travis CI"
Now that we have smoke test again Java Early Access Release (see #78), we need to run the task `jdk8_ea` and `jdk9_ea` every night on master branch.

Ideas:

 * [Tron CI](http://tron-ci.herokuapp.com/)
 * Set [environment variables](http://docs.travis-ci.com/user/ci-environment/#Environment-variables)  on Travis
 * Use [Travis API](https://github.com/travis-ci/travis.rb)

[2014-12-23 14:10] Mogztter opened #92 "Create a JavaScript API to make extensions easier to write and register"
@mojavelinux

Related to #84 #76

[2014-12-23 20:14] #60 closed, assigned to mojavelinux

[2014-12-29 01:36] mojavelinux opened #94 "Support pure JSON objects in place of Opal.hash"
Ideally, the Asciidoctor APIs should be able to accept a regular JSON data structure where a Hash is required instead of Opal.hash2. The latter is awkward and redundant (keys have to be listed twice). It would feel much more comfortable for developers if they could continue to use the familiar JSON data structure.

[2015-01-01 15:19] Mogztter commented on #88
https://ci.appveyor.com/project/asciidoctor/asciidoctor-js/build/25 :beers:
I expected JDK 9 to be a little faster but that quite the opposite (or maybe I messed up with `Time.now` ?). Do you think we should report that ?

JDK8
[code]

JDK9
[code]

[2015-01-01 19:33] nerk opened #95 "Using 'coderay' or 'pygments' crashes asciidoctor.js"
Executing the following code snippet with node.js produces an exception. The problem seems to be that specifying source-highlighter as either 'coderay' or 'pygments' tries to execute this highlighter, which is, of course, not available in a JavaScript environment.

However, setting source-highlighter to something completely unknown like 'xxx' simply ignores source highlighting and does not crash a

[2015-01-01 19:39] nerk commented on #95
There is another weird thing with the code above. I could not get the 'source-highlighter' attribute in the text processed by asciidoctor.js at all without explicitly passing a default setting in the options hash.

It worked after adding
[code]

[2015-01-01 23:55] mojavelinux commented on #95
This is a known issue in the Asciidoctor.js environment atm. It's necessary to work around it with additional logic atm. You can see this logic implemented in docgist:

https://github.com/asciidoctor/docgist/blob/master/js/docgist.js#L31

Basically, you want to peek at what the user set, clear the attribute so it doesn't affect core and take whatever action you want to take to enable or disable hi

[2015-01-02 00:09] mojavelinux commented on #88
Woot!

Very strange. Perhaps it's an issue with Nashorn on Windows? I'll need to fire up my Windows test box to see if I can confirm the increase. If we can confirm outside of CI, then I think it's worth reporting.

Way to stick with this issue!

[2015-01-02 00:12] mojavelinux commented on #88
I can confirm on my windows box that the JDK9 test is running considerably slower.

[2015-01-02 00:16] mojavelinux commented on #88
I think you can enable the logic for the scheduled build in AppVeyor again and we can call this working. wdyt?

[2015-01-02 15:26] Mogztter commented on #88
Did you test Nashorn JDK 9 on Linux ? Is it faster thant Nashorn JDK 8 Linux ?

Yes sure

[2015-01-02 15:47] nerk commented on #95
@mojavelinux Thanks, the gist helped. I am now trying to reset the highlighter to 'highlight.js' after doc.$load() as follows:
[code]
$set_attribute returns true for success, but $convert still throws the same exception because it seems to ignore the changed attribute and still uses 'coderay'. Using doc.$delete_attribute('source-highlighter') does not seem to work either.

Maybe I'm doing somethin

[2015-01-02 17:41] nerk commented on #95
It looks as if $convert() always invokes 'restore_attributes' and overrides modified attributes with their initial values.

[2015-01-02 18:56] mojavelinux commented on #95
Yes, this is a tricky (aka rough) part of that API. Some rework is
necessary.

Until then, I think you have to use a more low-level call to change the
value to work around restore_attributes. In other words, you have to trick
it into doing what you want.

I'll file an issue for 1.5.3 to have a better API here.

[2015-01-03 00:22] mojavelinux commented on #88
Yep, I tested JDK 9 EA on Fedora 21. It's slower by the same multiplier as we are observing on Windows. So this doesn't seem to be a platform-specific issue. (I still need to test locally on Windows).

It would be interesting to have a baseline test that just runs a basic JavaScript test so we know what parts are overhead unrelated to Asciidoctor.js.

...also, I don't think the `print()` statement

[2015-01-03 00:37] mojavelinux commented on #95
Here's the related issue.

https://github.com/asciidoctor/asciidoctor/issues/1255

For now, you can directly manipulate the internal `original_attributes` property, if you can sort out how to access it from JavaScript.

Another option, which comes with some overhead, is to load the document with the `parse_header_only` option set...then read the value of the `source-highlighter` attribute. Then, r

[2015-01-03 17:02] Mogztter commented on #88
Ok

Yes that's a good idea.

I need the `print()` statement to assert the output:

 * AsciiDoc source is converted : https://github.com/asciidoctor/asciidoctor.js/blob/master/Rakefile#L137
 * include directive is processed and rendered : https://github.com/asciidoctor/asciidoctor.js/blob/master/Rakefile#L141

[2015-01-03 20:02] Mogztter commented on #88
I think we are good now.
I sent an email to the Nashorn dev mailing list to provide as much information as I can to help them investigate.

Time to close this issue ?

[2015-01-04 02:57] mojavelinux commented on #88
Oh, nevermind. I see.

[2015-01-04 02:58] mojavelinux commented on #88
Close & party! :beers:

[2015-01-04 12:05] Mogztter commented on #88
:tada:

[2015-01-04 12:05] #88 closed

[2015-01-05 21:32] Mogztter commented on #92
This is harder than I though :persevere:

[2015-01-16 20:55] nerk commented on #95
I'll wait until the issue is fixed. I actually figured out how to modify `original_attributes` from JavaScript. If `source-highlighter` was not defined at all, or if it was set to `highlightjs` or `prettify`, changing `source-highlighter` to a different value by modifying `original_attributes` works as expected.

However, if `source-highlighter` is `coderay` or `pygments`, changing it to one of th

[2015-01-16 21:29] nerk opened #96 "doc.$header().$attr() does not return only header attributes"
(This is most likely more of an issue with ruby asciidoctor. However, I am reporting it here because I only tried asciidoctor.js).

If each of the following snippets (containing an additional source code block not listed here) is rendered as a full document with header and  footer, the source code in the third snipped is not highlighted with 'prettify'. This is expected behavior because of the bla

[2015-01-19 01:30] mojavelinux commented on #95
Technically the original_attributes is not a public API, so I would expect some oddness. Of course, it points out the need for a public API here. It wasn't something we originally considered, which is why it's a bit awkward right now.

[2015-01-19 05:32] mojavelinux commented on #96
This is an area of the API that is not well defined (and thus not behaving as expected). The results you are observing trace back to an implementation detail that we need to fix in Asciidoctor. See https://github.com/asciidoctor/asciidoctor/issues/692 and https://github.com/asciidoctor/asciidoctor/issues/1255.

To provide some background, AsciiDoc Python never had an AST, so some parts of the pars

[2015-01-20 23:25] Mogztter opened #97 "Promote chart-block-macro extension"

[2015-01-20 23:26] Mogztter opened #98 "Promote emoji-inline-macro extension"

[2015-01-20 23:27] Mogztter opened #99 "Promote gist-block-macro extension"

[2015-01-24 23:41] Mogztter commented on #92
I define methods explicitly and provide a convenient method to create `Opal.hash2`:
[code]
**Before:**
[code]

**After:**
[code]

Thoughts ?

[2015-01-26 06:57] mojavelinux commented on #98
Most definitely. This will surely be a hit with the AsciiDoc preview crowd. Emoji fun!

[2015-01-26 06:58] mojavelinux commented on #99
I agree, though I'd also like to have this extension reviewed. It was a super quick hack. Are there things about it we need to add before we make it "live"? I'm really looking for people who like to use gists in blog posts since that's when I imagine it will be used the most.

[2015-01-26 08:37] mojavelinux commented on #92
Wow, that's quite an improvement.

I like the `to_hash` function, but I'm nervous about namespacing it to Opal since we don't control that namespace. Perhaps you can make a top-level function or put it in the Asciidoctor namespace.

Another idea is to decorate the JavaScript object with a `to_h` or `$to_h` method so it could be written as:

[code]

Ideally, Opal should just offer a cleaner way to

[2015-01-26 08:49] rahmanusta opened #100 "How to change ./asciidoctor.css"
I'm changing asciidoctor.css like below;
[code]

It puts my css file to link header, thats OK. However, when i put ```:stylesheet: xyz.css``` attribute to document, it is not overriding the default one. How can i do that?

[2015-02-05 23:20] bblonski opened #101 "Can't use : character in title"
asciidoctor.js fails to parse the `:` character in the title of a document.

[2015-02-05 23:53] mojavelinux commented on #101
In what way is it failing. I tried it and it works for me. In fact, the main example in this project loads the README.adoc, which has a colon in the title and it works. Can you test the example?

[2015-02-05 23:54] mojavelinux commented on #101
Or are you saying it isn't making a subtitle?

[2015-02-07 03:29] bblonski commented on #101
I'll be honest, I noticed this in AsciidocFX where I reported it first.  They said it was due to a bug in the underlying asciidoctor.js and referred me here, but I can't reproduce it with just asciidoctor.js it so it does appear to be on their end.

[2015-02-10 13:18] bguiz opened #102 "Add epub and pdf converters to npm module too"
Could this be done by transpiling the libraries using Opal too?

[2015-02-10 21:45] Mogztter commented on #102
Hi @bguiz, Asciidoctor pdf and epub3 are written entirety in Ruby so I think it's possible.
But there will be challenges ! //cc @mojavelinux

[2015-02-10 22:18] mojavelinux commented on #102
Actually, I don't think transpiling is the right approach in this case. Both Asciidoctor EPUB3 and Asciidoctor PDF rely on complex libraries that don't lend themselves well to transpiling and the result will likely be very slow.

A better solution here is to move forward with linking Asciidoctor.js to native JavaScript solutions for EPUB3 and PDF. For EPUB3, we could look at what GitBook.io is usi

[2015-02-10 22:39] bblonski commented on #101
I'm not good enough with ruby and javascript to test this myself, but could you test this with the docbook backend?  HTML generation works fine, but it looks like the docbook output is blank.

[2015-02-10 22:52] mojavelinux commented on #101
Aha! Thanks for the clarification. Now we know where to look.

Chances are that AsciidocFX is using the old API for parsing the title, since that API changed in 1.5.0. The bug might be in Asciidoctor.js or it might be in AsciidocFX. But now that we know it's DocBook, it makes more sense because DocBook does use the subtitle feature.

[2015-02-11 00:52] bblonski commented on #101
Sorry about that, I should have clarified.  I was trying to generate PDFs
and AsciidocFX hides the docbook generation step, so it didn't occur to me
at first.

On Tue, Feb 10, 2015 at 2:52 PM, Dan Allen <notifications@github.com> wrote:

[2015-02-11 09:42] bguiz commented on #102
@mojavelinux @Mogztter Well I'm certainly keen to have these Asciidoctor plugins available to use with NodeJs!

[2015-02-16 14:39] Bloggerschmidt opened #103 "rendering code"
When I write something like

[code]

it renders something like:

[code]

But it should render like this:

[code]

without `<code>`. Is there a workaround to avoid this?

[2015-02-16 14:56] Mogztter commented on #103
Hi @Bloggerschmidt,

AFAIK the output is correct because this is a preformatted text of `<code>`. Syntax highlighting libraries expect this pattern (see https://highlightjs.org/usage/)

If you just want preformatted text (whitout syntax highlighting) you can use literal block: http://asciidoctor.org/docs/asciidoc-syntax-quick-reference/#source-code

[code]

should render:

[code]

Cheers,
Guillaum

[2015-02-16 14:59] anthonny commented on #103
@Mogztter thank you ;)

[2015-02-16 15:11] Bloggerschmidt commented on #103
@Mogztter Thank you for pointing this out.

[2015-02-16 15:11] #103 closed

[2015-02-18 10:14] #100 closed

[2015-03-03 01:03] gAmUssA commented on #68
Just tested smoketest (`asciidoctor-convert.js`) with

[code]

Works fine!

[2015-03-03 07:23] mojavelinux commented on #68
:+1:

Great news! We're testing on every check-in too, which is awesome.

[2015-03-03 07:24] mojavelinux commented on #68
Let's mark as closed and move forward!

[2015-03-03 07:24] #68 closed

[2015-03-17 11:27] Mogztter commented on #72
That would be great ! I've just installed a new development environment and the initial setup is way too long :smile:
I think we need to stay with Javascript tools to build Asciidoctor.js (that make more sense). AFAIK Opal compiler can be run in Javascript but I didn't find any documentation on how to do it... anyway I will give it a try !

[2015-03-17 11:38] Mogztter commented on #92
Done https://github.com/opal/opal/issues/758

[2015-03-18 12:37] Mogztter opened #104 "Add option --optimistic-types=false to Nashorn JDK9"
marcus.lagergren@oracle.com:

[2015-03-22 10:34] Mogztter commented on #97
The `chart-block-macro` extension relies on the `csv` gem but I think we need to remove this dependency.

[code]

Asciidoctore core is using a  [simple method](https://github.com/asciidoctor/asciidoctor/blob/master/lib/asciidoctor/substitutors.rb#L1281) to do that, can we reuse that code or just copy-paste into the extension ?

[2015-03-22 11:26] Mogztter commented on #99
@mojavelinux Actually we can't use the embed script in the chrome extension because the script use `document.write`

[code]

Instead we could use the `json` format. For instance `https://gist.github.com/mojavelinux/5546622.js` gives us the script and `https://gist.github.com/mojavelinux/5546622.json` gives us the json representation of the Gist.
The extension can then use the `div` attribute and t

[2015-03-22 13:21] Mogztter commented on #102
I give GitBook.io a try but they are using [ebook-convert](http://manual.calibre-ebook.com/cli/ebook-convert.html) command line:

[2015-03-30 12:57] mojavelinux commented on #97
We could definitely reuse that logic that's inside Asciidoctor. I've found it to be more than sufficient for any CSV content I've used and it saves a lot of headache. Feel free to rework the API if necessary so that you can use it to create the data structure you need in the chart extension.

[2015-03-30 13:00] mojavelinux commented on #99
Great thinking! I wasn't aware the gist was served as JSON. That makes things a lot simpler (in theory). I'm perfectly happy with the idea of reworking the extension to use this approach instead. As long as the snippet gets into the browser, I don't care how it happens. Perhaps we should have a parallel issue in the extension lab to change the implementation.

[2015-03-30 13:02] #98 closed

[2015-03-30 14:20] Mogztter commented on #97
I've created an issue in the asciidoctor-extension-lab repository: https://github.com/asciidoctor/asciidoctor-extensions-lab/pull/40

[2015-03-30 14:21] Mogztter commented on #99
Yes, if you are OK with this change, I will create an issue in the extension lab repository.

[2015-03-30 15:00] mojavelinux commented on #99
:+1:

[2015-03-30 18:21] mojavelinux commented on #72
Worst case scenario, we can call opal from the command line. I think that many parts of Opal use Ruby, however, so I'm not sure it can be used exclusively from JavaScript. It definitely makes more sense to drive everything through Grunt, though. Rake seems to be adding a layer of unneeded complexity now that we have Grunt doing things.

[2015-03-31 18:57] mojavelinux commented on #92
...and we learned something! Now it's time to update all the code that uses Asciidoctor.js to use Opal#hash now that we know about it :)

[2015-04-01 14:13] rahmanusta opened #107 "Asciidoctor validation"
Is there any way to test a asciidoc content is valid or not (which line/column/message)?

If possible we want to integrate it to Asciidocfx.

[2015-04-01 16:01] mojavelinux commented on #107
The best way atm is to convert it to DocBook and see if the DocBook is invalid. Having said that, it's somewhat difficult to create bad AsciiDoc because the parser only interprets good syntax. What doesn't make sense just remains as raw source. Of course, there are plenty of edge cases where the syntax can go wrong...so I'm not saying validation isn't necessary.

[2015-04-01 16:30] rahmanusta commented on #107
Thanks for detailed infos @mojavelinux . I will try with XML validation

[2015-04-01 16:30] #107 closed

[2015-04-04 12:16] rahmanusta opened #108 "Sprockets tilt not found"
Hello, when i build slim-block, I'm getting below output. What can be reason of that?

[code]

Thanks

[2015-04-05 05:28] rahmanusta commented on #108
Also, I tried it in Linux, and Im getting the same. Indeed, tilt 1.4.1 is installed.

[2015-04-05 09:28] mojavelinux commented on #108
I don't think tilt is going to work in the Asciidoctor.js environment. Or at least, we haven't tested it yet to my knowledge.

[2015-04-05 09:38] rahmanusta commented on #108
I get it. Can I say slim-block extension is not available for browser environment? How can I integrate https://github.com/asciidoctor/asciidoctor-reveal.js to browser environment?

Thanks.

[2015-04-05 09:39] mojavelinux commented on #108
We're still trying to solve that problem. The solution may be getting tilt / slim to work. The solution may be to rewrite the backend for JavaScript in jade or something. It's an open issue.

[2015-04-05 11:31] rahmanusta commented on #108
I get it. I can try to develop an extension for JavaScript for example deckjs or like, with Jade or handlebars.

* I wonder, is there a way to attach dynamically new converter without modifiying factory.rb?,
* I wonder, which converter can I get for base to develop in JS. I tried to port from DocbookConverter. But, first try was failed.

[2015-04-07 09:52] rahmanusta commented on #108
I want to say @mojavelinux  , I ported slim to jade and wrote a new converter for reveal slides in JavaScript. I'm working on that.

[2015-04-07 11:58] Mogztter commented on #108
@rahmanusta Wow this is awesome news! I'm really looking forward to integrate this Javascript converter into the Chrome extension !

[2015-04-07 15:05] rahmanusta commented on #108
Thanks @Mogztter .I will inform the Asciidoctor team for that work progress.

[2015-04-12 16:50] rahmanusta opened #109 "Detect end of Conversion"
How can I detect the last element or EOF conversion in a custom Converter.

For example is there any method or property to check last element.

node.isEnd() or node.isLast() like

[2015-04-12 17:22] Mogztter commented on #109
What is your use case ? Do you want to put something at the end of the document (a footer) ? Or do you want to execute arbitrary code at this precise moment ?

[2015-04-12 17:28] rahmanusta commented on #109
I want to execute something at the end of the rendering last element

[2015-04-13 14:58] mojavelinux commented on #109
We are missing several convenience methods in the AST that would make this simpler. See https://github.com/asciidoctor/asciidoctor/issues/401. We can consider adding this method.

Until then, you could calculate yourself by traversing the graph to check if the node is the last element in each level of the hierarchy.

You could also register a Postprocessor, which gets invoked immediately after con

[2015-04-15 19:18] rahmanusta commented on #109
Thanks @mojavelinux ,

I think this methods help developers to access elements easily.

[2015-04-19 14:36] Mogztter opened #110 "Build is failing"
I must have break the build but I can't reproduce this issue on my machine: https://travis-ci.org/asciidoctor/asciidoctor.js

[code]

@mojavelinux Any idea why Opal is complaining ?

[2015-04-19 20:00] anthonny commented on #110
I found this code in the opal code source :
https://github.com/opal/opal/blob/570dfb1286f0c91d536ab24b54556198eff36be6/opal.gemspec#L22

It seems that the version is not specify

Is it possible that now Opal point on sprockets v3.0.1  ? I can't found the Tilt definition https://github.com/rails/sprockets/search?utf8=%E2%9C%93&q=Tilt

Maybe i'm totally wrong :smile:

[2015-04-20 20:53] Mogztter commented on #110
I think you may be right, thanks. I will dig a little bit deeper :smile:

[2015-04-27 19:59] #110 closed

[2015-04-29 23:54] mojavelinux commented on #108
Fantastic news @rahmanusta! We are all very excited about this work! Getting Jade working for Asciidoctor.js is going to be huge!

[2015-05-03 03:27] rahmanusta commented on #108
Thank you so much @mojavelinux :) This times, I have little workloads :) But, I will finalize this work as soon as possible.

[2015-05-15 20:04] mojavelinux commented on #108
I found a port of Slim to JavaScript. See https://github.com/slm-lang/slm

[2015-05-20 15:35] rahmanusta opened #112 "Override file reader"
Hello;

When we enabled safe mode in asciidoctor.js it loads resources from rest. Is there any way to override this default behaviour ? I want to load this resource from Java call or from WebSocket.

[2015-05-20 16:48] rahmanusta commented on #112
Or can we add a query parameter or prefix to urls ??

[2015-05-20 18:44] mojavelinux commented on #112
This depends highly on the environment in which Asciidoctor.js is running. If you are running it via Nashorn, it should use the Java APIs to load the file.

https://github.com/asciidoctor/asciidoctor/blob/master/lib/asciidoctor/opal_ext/file.rb#L102-L109

This isn't extensible right now, though you could cross compile an additional Ruby file and append it to Asciidoctor.js that overrides this meth

[2015-05-21 06:27] rahmanusta commented on #112
Hello Dan;

My environment browser but that is a embedded browser in JavaFX platform. I tried like that https://github.com/asciidocfx/asciidoctor/blob/master/lib/asciidoctor/opal_ext/file.rb#L117

It loads resources from Java method call.

For your questions;

1. Environment is embedded browser in JavaFX platform.  Maybe we can add a new environment named "afx" or "asciidocfx", it inherits browser

[2015-05-21 06:42] mojavelinux commented on #112
I'd rather that we set the JAVASCRIPT_PLATFORM to 'javafx' or something. See https://github.com/asciidoctor/asciidoctor/blob/master/lib/asciidoctor/opal_ext.rb

Then, we can implement an additional case in the switch statement to handle the file resolution as you'd like.

[2015-05-21 07:02] rahmanusta commented on #112
That is great for me. There is a patch for that https://github.com/asciidoctor/asciidoctor/compare/master...rahmanusta:patch-1

[2015-05-22 19:24] mojavelinux commented on #112
Could you submit this as a pull request? Also, are you going to add corresponding logic to file.rb as well?

[2015-05-23 08:02] rahmanusta commented on #112
Yes, I proposed a pull request now.

[2015-05-24 06:35] maxandersen opened #113 "toc is not working"
I've added:

[code]

to my files and it is not working with asciidoctor.js but it does work on github and command line asciidoctor.

[2015-05-24 06:44] maxandersen opened #114 "generate anchors for simpler use with livereload"
when using livereload with asciidoctor.js the page scrolls to the top.

If asciidoctor.js would generate clickable anchors for headers then I could just click the nearest header to where i would like livereload to go to.

[2015-05-24 07:42] mojavelinux commented on #113
You have to set the position as well:

[code]

See http://asciidoctor.org/docs/user-manual/#manual-placement

[2015-05-24 07:43] mojavelinux commented on #114
You can enable section anchors using the following document-level attribute.

[code]

You can also make them links:

[code]

See http://asciidoctor.org/docs/user-manual/#links

[2015-05-24 21:56] maxandersen commented on #114
is there a way to set this to default on ? (i'm not the original author of all these docs ;/ and some are partials/included in others so it would be wrong to have them there )

[2015-05-24 22:29] mojavelinux commented on #114
Yes, where ever the Asciidoctor API is called you can pass in these attribute values to set defaults. This is done in many of the tools, including the Atom extension. See https://github.com/asciidoctor/asciidoctor-chrome-extension/blob/master/app/js/renderer.js#L117

You'd need something like this in the value of the attributes option:

[code]

[2015-05-25 09:35] maxandersen commented on #114
so should I open a feature request on allowing to specify default options (like setanchors etc.) for asciidoctor.js or can we just convert this issue into it ?

[2015-05-26 07:20] mojavelinux commented on #114
I think I need to know more about how you are invoking Asciidoctor.js to know where these options belong. Asciidoctor.js itself is just a library, and is compiled directly from Asciidoctor core. It doesn't have any code of its own except for integration / wrapper code to get it to run on different platforms (e.g., npm).

You should be setting the options where Asciidoctor (or Asciidoctor.js is run

[2015-05-26 12:23] maxandersen commented on #114
clicking the asciidoc button in firefox ;)

just realize this is probably better reported against https://github.com/asciidoctor/asciidoctor-firefox-addon

[2015-05-26 16:03] mojavelinux commented on #114
Aha! Exactly. It should have an options screen with default settings like
the Chrome extension. Probably best to test the Chrome extension to get an
idea of what could be done as it has a lot of options.

[2015-05-26 16:14] Mogztter commented on #114
There's also an issue with the Firefox addon and LiveReload. See https://github.com/asciidoctor/asciidoctor-firefox-addon/issues/26

[2015-05-27 09:54] maxandersen commented on #114
Chrome is just such a performance killer these days :)
anyways I opened issue on firefox addon to suggest adding similar options for it.

[2015-06-01 09:45] Mogztter opened #115 "Upgrade to Opal 0.8.x"
Cross compilation is working fine but I get the following error at runtime:

[code]

I opened an issue https://github.com/opal/opal/issues/904

[2015-06-06 05:56] mojavelinux commented on #115
The real source of the error is showing because of the stacktrace swallowing issue https://github.com/asciidoctor/asciidoctor/issues/1248, which is fixed in the upcoming 1.5.3. You need to comment out the rescue block on line 1361 and 1362 to get insight into what's really going on.

I see from your comments in the Opal issue that you have discovered the root issue.

I tried to compile with 0.8.0.

[2015-06-06 06:00] mojavelinux commented on #115
I think it's safe to say that we are skipping 0.7.x and going right to 0.8. 0.7.x seems to be a transitional version and not worth using.

[2015-06-06 08:59] Mogztter commented on #115
Ok !

What needs to be done for 1.5.3 ? Do you need help on some tasks ?

[2015-06-07 19:19] mojavelinux commented on #115
Apparently we have to now require modules explicitly, so some changes will be necessary in how we load Asciidoctor.js when we switch to Opal 0.8.x.

Details: https://twitter.com/elia/status/607093057201307648

Yes! I'll follow-up on the list.

[2015-06-12 11:45] maxandersen commented on #114
Since ffox livereload is still open I tried with chrome.

But when I add `:sectanchors: :sectlinks:` in options nothing changes. section's are still just "dead" text.

[2015-06-12 17:11] mojavelinux commented on #114
Remove the colons when adding it to the options screen. The colons are only
needed when defining an attribute in the document.

[2015-06-27 10:06] Mogztter commented on #87
See https://github.com/asciidoctor/asciidoctor-cli.js

[2015-06-27 10:06] #87 closed

[2015-06-27 10:07] #58 closed

[2015-07-02 23:34] mojavelinux commented on #87
Just tried it and it works great. Nice work!

[2015-07-02 23:43] mojavelinux commented on #87
Now that we've published the "asciidoctor-cli" package, it makes me wonder whether we should rename (or alias) the core package as "asciidoctor" instead of (or in addition to) "asciidoctor.js".

[code]

Is it possible to add a package alias? If not, I'm okay with renaming the package. I think we agreed that it's understood that this is a JavaScript package given that we are using npm.

[2015-07-03 01:08] mojavelinux commented on #115
I'd really like to see if we can make this happen soon because we don't want to get stuck on Opal 0.6.x and miss out on critical improvements, such as Ruby 2 features.

[2015-07-06 09:04] Mogztter commented on #115
The following is working:
[code]

[2015-07-06 19:02] mojavelinux commented on #115
That's great news!

This is the part I was missing when I tried it: `Opal.require('asciidoctor');`. Now it all makes sense.

(As a sidenote, remember we don't need to use Opal.hash2 anymore. Opal.hash is all that's necessary).

[2015-07-06 19:03] mojavelinux commented on #115
Does the example file work for you?

[2015-07-06 19:59] Mogztter commented on #115
I didn't try, I just experimented with this file https://github.com/Mogztter/asciidoctor.js/blob/issue-115/spec/share/basic.html

[2015-07-08 15:59] rahmanusta commented on #108
Hello @mojavelinux @Mogztter.  We released AsciidocFX 1.3.7-RC1 today. It supports now revealjs and deckjs backends with jade templates.

If you want to try it; Click Workdir Panel, and right click to any folder and follow new > slide menu items.

I rewrote haml and slim templates to jade for this work . And I'm ready to share my knowledge to any asciidoctor related projects.

[2015-07-08 19:52] Mogztter commented on #115
I've upgraded the example file to Opal 0.8.0.
There were two issues:

1. First, we need to be specific about the file when using `Opal::Environment`, see [Rakefile](https://github.com/Mogztter/asciidoctor.js/blob/issue-115/Rakefile#L71). Without the file extension Opal was cross-compiling the html file... :stuck_out_tongue:
2. Second, we need to require `asciidoctor` and `asciidoctor_example` beca

[2015-07-09 00:40] mojavelinux commented on #108
That's great news @rahmanusta! I know that @Mogztter is very interested in the reveal.js converter in Asciidoctor.js for the Chrome and other extensions.

I'd really like to see the jade templates be migrated to a shared repository where all the tools based on Asciidoctor.js can leverage them. Would you be willing to do that? We could publish the templates using bower or something similar so that

[2015-07-09 06:54] anthonny commented on #108
I'm really interested in the reveal.js converter too

:clap: @rahmanusta

[2015-07-09 07:10] rahmanusta commented on #108
Thank you guys! Yes, I'm willing to do that. I created a repository and added you as admin. For first step, I'm thinking to push a working example with asciidoctor.js slide backends. What do you think, is it OK for you?

[2015-07-09 09:42] mojavelinux commented on #108
@rahmanusta I actually think it makes sense if we include it in the same repository as the slim templates. That way, they can be worked on together.

See https://github.com/asciidoctor/asciidoctor-reveal.js

We can just create a folder named templates/jade.

We don't yet have a dedicated repository for the deck.js backend, but we should and we might as well create it now. It should mirror the stru

[2015-07-09 10:30] rahmanusta commented on #108
Of course @mojavelinux , I created a pull request for reveal jade templates. After creating deck repository, I will push deck templates also.  https://github.com/asciidoctor/asciidoctor-reveal.js/pull/39

[2015-07-09 10:48] rahmanusta commented on #108
I just uploaded a demo https://github.com/asciidocfx/asciidoctor.js-reveal-demo

[2015-07-09 18:01] tsiiskonen opened #116 "When header_footer is set to true and safeMode is set to safe or unsafe, building .html files fails."
Hi,

I'm using Asciidoctor.js and grunt to configure it. I would like to use includes, when safeMode should be set to safe or unsafe (instead of secure that is default), but after I change that, building .html files fails. Only error that is given is to log is "undefined is not a function". If I remove option "header_footer: true" from configuration .html files are built, but I'm missing all the i

[2015-07-09 19:36] mojavelinux commented on #108
Super! Thanks @rahmanusta!

I'll setup the deck.js repository asap and let you know when it's ready.

[2015-07-09 19:53] rahmanusta commented on #108
Thank you @mojavelinux !

[2015-07-09 21:14] Mogztter commented on #116
Hi @tsiiskonen, could you post the complete error message please ? (or is "undefined is not a function" the only error message ?)

[2015-07-09 23:07] mojavelinux commented on #116
In addition, please supply a sample AsciiDoc document that demonstrates this error. You can either past it inside fenced code blocks in a command or link to a Gist or file in a GitHub repo.

[2015-07-10 05:57] tsiiskonen commented on #116
"Undefined is not a function" really is the only error message. Here is everything that is printed to log related to asciidoctor task:

[code]

I can reproduce it with for example this kind of .adoc files:

First file, named adocument.adoc:
[code]

File that is included contains only one title (architechture.adoc):
[code]

And grunt file is having these parameters when error occurs:
[code]

And if

[2015-07-10 06:39] mojavelinux commented on #116
Why did you close the issue? Isn't this still an issue?

[2015-07-10 06:40] mojavelinux commented on #116
If you comment out `header_footer: true`, then the result is fundamentally a different thing. The `header_footer: true` enables a standalone (full) HTML document whereas without this option is just outputs the contents of the body.

[2015-07-10 06:40] tsiiskonen commented on #116
Oh, sorry. It was not meant to happen.

[2015-07-10 06:42] tsiiskonen commented on #116
Yes, and I don't want to comment it, but build is not working when I'm using header_footer and use ´´´safeMode: safe´´´. And I have to use ´´´safeMode: safe´´´ to make includes work.

[2015-07-10 06:43] mojavelinux commented on #116
Cool. Solving that is definitely the goal here :)

[2015-07-10 06:53] mojavelinux commented on #116
I found the likely culprit. It's probably related to the issue that @Mogztter is reporting here. https://github.com/asciidoctor/asciidoctor/pull/1354. Asciidoctor.js can't use the IO.read method, so it can't read the stylesheet data. I found that when I changed that call to File.read, then it still had a problem finding the stylesheet (despite being included in the npm module).

The workaround rig

[2015-07-10 06:54] mojavelinux commented on #116
The focus of this issue should be on getting Asciidoctor.js to support the `header_footer` option when the `linkcss` attribute is not set.

[2015-07-10 07:13] tsiiskonen commented on #116
Thank you! That solution worked and I'm able to build project correctly now.

I'm still having that one problem with table of contents. Line

```:toc: right```

is not placing the toc to right side of the view. It is still on the top right next after the first level header.

[2015-07-10 07:30] mojavelinux commented on #116
It's very likely this is a resolution issue. The toc only appears on the side if there is enough room. There is a media query in the stylesheet that returns the toc to the center when the window gets too narrow.

[2015-07-10 07:35] tsiiskonen commented on #116
Hmm... My screen resolution is 1920 x 1080 so there should be space for toc at right side of the screen too. At least there is guite much empty space when document is rendered.

[2015-07-10 07:57] mojavelinux commented on #116
Aha! I bet you the problem is this line:

[code]

That is very likely setting the `toc` attribute in the API and overriding what you have in the document. This is likely an issue in the Grunt plugin...Yep.

https://github.com/asciidoctor/asciidoctor-grunt-plugin/blob/master/tasks/asciidoctor.js#L49

That's a bug that needs to be reported against the Grunt plugin. It needs to allow the toc to be se

[2015-07-10 07:57] mojavelinux commented on #116
In summary, the value in your document is ignored.

[2015-07-10 08:08] tsiiskonen commented on #116
Ok, thanks. I reported this issue against the Grunt plugin. Hopefully it can be fixed.

[2015-07-10 08:21] #69 closed

[2015-07-10 08:29] mojavelinux commented on #116
:+1: You can count on it :)

[2015-07-10 08:39] anthonny commented on #116
I think we can close this issue now :)

[2015-07-10 08:42] mojavelinux commented on #116
Not just yet. We still need to support embedding the default stylesheet. Unless you'd like to open another issue with a more specific title.

There are two tasks:

* Map IO.read to File.read (we can wait for this to happen in core or add a patch)
* Figure out why the default stylesheet path can't be resolved when using Asciidoctor.js via npm.

[2015-07-10 17:13] Mogztter commented on #116
@mojavelinux Do you know why `toc=preamble@` is not working ? I though `@` was suppose to set a default value unless the document defined another value ?

[2015-07-10 21:06] mojavelinux commented on #116
If that were the case, then it would work. But if you look closely, the `@` is not there.

https://github.com/asciidoctor/asciidoctor-grunt-plugin/blob/master/tasks/asciidoctor.js#L49

One fix would be to add `@`. However, technically `toc` is not a boolean option, so really it should be changed to be an enum.

[2015-07-11 07:45] Mogztter commented on #116
Sorry I meant, I tried to modify that line to add `@` but that's not working. So you say this should work... hmm I will try to find out why.

[2015-07-11 07:57] mojavelinux commented on #116
Ah, I see what you're saying. The answer is, it's tricky in this situation. The problem is, we are supporting a lot of different legacy combinations here and one of them is conflicting. In this case, it's the force unset of `toc2!`. That should really be removed. That was added when enabling the toc would cause the processor to crash. We are beyond that, so we can remove these hacks. Let's just st

[2015-07-14 07:36] mojavelinux commented on #108
@rahmanusta The repository is now ready to import the jade templates for deck.js. Send a pull request at your convenience.

https://github.com/asciidoctor/asciidoctor-deck.js

With that done, I think we can close this issue? Agreed, or is there further work to be done?

[2015-07-14 08:15] rahmanusta commented on #108
Thank you @mojavelinux . I pulled a request for deckjs jade templates.

Everything is Ok for me, we can close this issue. Also, I'm ready to help for any work for this jade templates.

[2015-07-14 08:16] mojavelinux commented on #108
:+1:

[2015-07-14 08:16] #108 closed

[2015-07-15 23:09] Mogztter commented on #116
Another task is to implement File.readable.

With Asciidoctor.js, `DATA_PATH` resolves to `undefined`, `STYLESHEETS_DATA_PATH` resolves to `stylesheets` and the default stylesheet name is `asciidoctor-default.css`.
So we are trying to load the file `stylesheets\asciidoctor-default.css` (resolved to `c:\stylesheets\asciidoctor-default.css` on Windows) which doesn't exist.

But we can use `styleshee

[2015-07-16 18:15] jamroks opened #117 "Asciidoctor Codemirror Question"
Sorry in advance  if the subject has already been discussed .

i went confidently to the codemirror website looking for the "asciidoctor mode" , and oh imagine my disappointment  when i realized that there  no implementation.  when i see the tons of not even relavent syntax language that have already a mode in codemirror , it's just ( how to say it ....crazy !)  not to have something for asciidoct

[2015-07-17 08:02] mojavelinux commented on #116
I wonder if for now we should just disable the whole section of the code that deals with copying stylesheets when running in JavaScript. One quick way to disable it now is to simply unset the `copycss` attribute (which is enabled by default). Then, you can do whatever you need to do on the JavaScript side.

[2015-07-17 08:04] mojavelinux commented on #116
...though I guess that's only relevant when the `linkcss` attribute is set. Though, I think if you unset the `stylesheet` attribute, then it doesn't do anything. See:

https://github.com/asciidoctor/asciidoctor/blob/master/lib/asciidoctor/converter/html5.rb#L54-L71

[2015-07-17 08:10] mojavelinux commented on #117
See my response on the discussion list:

http://discuss.asciidoctor.org/ASciidoc-Codemirror-editor-td3507.html

Long story short, there's an AsciiDoc mode for CodeMirror that lives in the Brackets extension repository. See: https://github.com/asciidoctor/brackets-asciidoc-preview/blob/master/mode/asciidoc.js

[2015-07-17 08:15] anthonny commented on #117
I use the same mode in HubPress
https://github.com/HubPress/hubpress.io/blob/development/src/hubpress/scripts/utils/codemirror/mode/asciidoc.js

:+1: to break it out into it's own repository

**Irrelevant**
@jamroks  I saw that you use Ghost, if you have some times could you try https://github.com/HubPress/hubpress.io and give me some feedback?

[2015-07-17 08:18] mojavelinux commented on #117
Not irrelevant at all! That was my very first thought when reading it :)

Just look at how beautiful the posts are! https://jaredmorgs.github.io/2015/07/17/Sometimes-You-Need-To-Pay-It-Forward.html

[2015-07-17 08:19] mojavelinux commented on #117
Then definitely let's promote it! We can also make it available to npm, Bower and all that jazz.

[2015-07-18 21:00] jamroks commented on #117
Thank you @mojavelinux for the reply and very helpful answer.
And yes not irrelevant at all @anthonny, i will actually have a deeper look at hubpress but from what i see, it already look like pur awesomeness !!
Thank you guys so much. Damnn i love this community .
Asciidoctor rock !!

+1 for making it available as an npm module . i have open an issue for that in Thomas Kern repo.

Cheers

[2015-07-19 15:14] Mogztter commented on #115
Opal v0.8.0 is out! https://github.com/opal/opal/tree/v0.8.0

[2015-07-20 03:49] mojavelinux commented on #5
There's now an implementation of custom templates in AsciidocFX. See https://github.com/asciidocfx/AsciidocFX/blob/master/src/main/resources/public/js/asciidoctor-reveal.js.

@rahmanusta, do you have the Ruby source available for the asciidoctor-reveal.js file and would you be willing to contribute a generic version of the template converter for JavaScript to asciidoctor.js?

[2015-07-20 07:21] mojavelinux commented on #117
:+1:

\o/

I'll follow up with comments in the related issue. See https://github.com/asciidoctor/brackets-asciidoc-preview/issues/25.

[2015-07-20 07:46] mojavelinux commented on #115
Fantastic! I'll do some testing asap!

[2015-07-20 08:37] rahmanusta commented on #5
@mojavelinux Yes, I am willing to contribute a generic version of the template converter to asciidoctor.js.

I created converter base classes in Ruby and after, continued with pure JavaScript. I will do a poc and will give and share more detail for this issue.

[2015-07-20 11:56] maxandersen commented on #114
I think we should close this since its now supported in both chrome and firefox.

[2015-07-20 11:56] #114 closed

[2015-07-24 07:34] mojavelinux commented on #5
Great! We'd really appreciate that @rahmanusta!

[2015-07-27 13:09] Mogztter commented on #115
I can confirm that the `asciidoctor_example` but not the `userguide_example`.

I get the same error with Opal 0.8.0.rc2 and Opal 0.8.0. Full stacktrace:

[code]

[2015-07-30 10:35] rahmanusta commented on #5
Thanks Dan. I did a prework for template converter. please follow this issue https://github.com/asciidocfx/asciidoctor.js-reveal-demo/issues/1

[2015-08-02 00:36] mojavelinux commented on #115
That seems like a bug. (I remember something similar happening before). With that said, I have no problem specifying the extension. Better to be more specific than less specific.

I'll give it a go, see if I notice something.

[2015-08-02 05:44] mojavelinux commented on #115
I traced the error back to the following patch that we apply in the Opal environment.

https://github.com/asciidoctor/asciidoctor/blob/v1.5.2/lib/asciidoctor/substitutors.rb#L755

Firefox sometimes sets the value of a regexp group to empty string instead of null. This breaks subsequent logic. To fix it, we set the value of the group explicitly. However, this isn't a supported method in Ruby. Opal

[2015-08-02 05:47] mojavelinux commented on #115
One question I think we should consider is whether we should auto-require the library when the JavaScript is added to the page (to mimic the behavior of Opal 0.6). I'm not sure what the right answer is in this case. If we decide to keep them separate, we'll need to update the docs to explain that an explicit require statement is now necessary.

[2015-08-02 11:29] #112 closed

[2015-08-02 11:44] rahmanusta opened #120 "Setting document attribute after loading document"
I want to change document lang after if document content has not lang attribute set. I followed this way;

[code]

isSet prints true, but when I examine doc.$attr('lang') it's value is nil. Also, I examined attributes object in firebug, it see that has no lang attribute.

[2015-08-03 03:34] mojavelinux commented on #120
This is an open issue in core. https://github.com/asciidoctor/asciidoctor/issues/1255

[2015-08-03 17:06] Mogztter commented on #115
I think we should mimic the behavior of Opal 0.6 and auto-require the library. Having say that we should also provide a way to manually require the library for advanced users.

[2015-08-03 17:08] Mogztter opened #121 ""User Manual" link in the README is broken"
The link is https://github.com/asciidoctor/asciidoctor.js/blob/master/manual.adoc

[2015-08-03 17:29] mojavelinux commented on #121
I though that was just wishful thinking :) Is that suppose to go to the main user manual or the one planned Asciidoctor.js?

[2015-08-03 17:33] mojavelinux commented on #115
I was thinking that too. Except, if they use other Opal-generated libraries (like their own extensions), the behavior will be different. But I suppose in that case it's okay since it's new code anyway.

We could also consider having a global variable that can be used to disable auto-require in case someone is using it in an Opal application and wants to restore the default behavior.

[2015-08-04 10:43] mrft opened #122 "= LEVEL 0 header = is missing from html output"
[code]
returns
[code]

but reading [the userguide about titles](http://www.methods.co.nz/asciidoc/userguide.html#X46) I think it is strange that it disappears...

[2015-08-04 11:02] Mogztter commented on #122
Hello @mrft, you are rendering an embedded document, in that case you have to add the attribute `showtitle`. You can read more about that here: http://asciidoctor.org/docs/user-manual/#document-title

[2015-08-04 15:00] mrft commented on #122
Thanks. My mistake.

[2015-08-04 15:00] #122 closed

[2015-08-04 15:55] Mogztter commented on #122
@mrft No worries, you're welcome :smile:

[2015-08-04 21:27] rahmanusta commented on #120
Thanks @mojavelinux. I will follow up that.

[2015-08-04 21:40] mojavelinux commented on #120
:+1:

[2015-08-10 14:35] abelsromero opened #123 "Update TravisCI to use a container"
TravisCI offers the option to run in a container, supposedly is faster, better, ...
From my experience I've seen that builds start immediately on a PR, other than that I cannot appreciate much differences.

I have used a asciidoctor.js fork as a test ground and confimed it only requires one line as long as you don't need to use `sudo`: https://github.com/abelsromero/asciidoctor.js/blob/master/.tra

[2015-08-10 18:22] mojavelinux commented on #123
Absolutely. We should do this for all the projects because it is indeed way faster.

Here's the config in core for reference: https://github.com/asciidoctor/asciidoctor/blob/master/.travis.yml#L2

It really just came down to adding `sudo: false` and we never looked back.

[2015-08-27 20:55] #123 closed

[2015-08-29 12:05] Mogztter commented on #86
Resolved by #106 and #71

[2015-08-29 12:05] #86 closed

[2015-09-15 12:18] pavelhoral commented on #116
Can I ask you guys for a summary of the status for this issue... I am kind of lost reading comments as the discussion got "hijacked" many times... maybe a new issue should be created dedicated to generating HTML with inlined CSS?

[2015-09-16 11:47] Mogztter commented on #116
Hello @pavelhoral

I agree.

Can you describe your issue and/or what you want to achieve ?

[2015-09-16 12:05] pavelhoral commented on #116
I want CSS to be inlined in the created HTML (which is the default behavior of AsciiDoctor). In other words generating HTML with just `safe: 'unsafe'` should inline the default CSS file in the result HTML. Right now it ends with:

[code]

[2015-09-17 18:08] Mogztter commented on #116
@pavelhoral Thanks

I will try to address this issue in Asciidoctor.js. There's an open pull request on Asciidoctor core to resolve the first part of this issue "Map IO.read to File.read" https://github.com/asciidoctor/asciidoctor/pull/1354

Now that we now more about this issue maybe we could just rename the issue to something more meaningful ?

[2015-09-21 10:04] wiibaa opened #126 "Use a variable in section title"
Hello,
I'm trying to DRY my docby using variables and include and it works great but I bumped into trying to use a variable in a section title.
Am I doing something wrong ? Is it a bug or not achievable for some reason ?

Example Asciidoctor gist: http://gist.asciidoctor.org/?8f9b874594faab2e84ca
I would expect that `{VAR}` in the title is replaced by the variable value as it is done in the paragr

[2015-09-21 10:13] Mogztter commented on #126
I don't know this syntax `{set:VAR:my variable}` but it's working with the following document:

[code]
http://gist.asciidoctor.org/?a4511ea8c7d86cd9c3c5

[2015-09-21 10:39] wiibaa commented on #126
Thanks for the quick reply, that solves it for my use case.

For info, I used the syntax from http://asciidoctor.org/docs/user-manual/#assigning-document-variables-inline, as it says it should be equivalent to the main one.

So it is up to you to decide if it is a bug or a feature of inline-scoped variable?

[2015-09-21 12:13] Mogztter commented on #126
I think inline variables are interpreted/read after the document (and the document title) is loaded. Having said that I don't quite understand the documentation:

Maybe @mojavelinux can enlighten us :bulb: :book: :smile:

[2015-09-21 12:40] wiibaa commented on #126
@Mogztter Using a variable in the document title is not my goal, but I'm impressed that it is possible.
I was working with Section Titles, and just got suprised that a variable defined with the "main" syntax vs a variable defined "inline" do not behave the same in the section title.
I have updated my gist to highlight my point http://gist.asciidoctor.org/?a4511ea8c7d86cd9c3c5 where

[2015-09-26 21:22] rahmanusta opened #127 "Adding line-number info to rendered HTML element"
Hello;

We are following complex path to feature smooth scrolling in AsciidocFX. Is it possible to add line-number info to rendered HTML elements by it's number? Or do you have any idea for the smooth scrolling (scrolling by asciidoc content line position)?

[2015-09-26 21:41] mojavelinux commented on #127
The line number info is available at the block level if you add the following option when invoking the processor:

[code]

However, you'd still need to modify the converter (or templates) to pull information from the `source_location` field (if available) and add it to the HTML. I have not yet attempted to do something like this, but in theory it should work.

[2015-09-27 10:34] rahmanusta commented on #127
I'm thinking to implement a new TreeProcessor for this need. Is it possible iterate all nodes in a document?

[2015-09-27 22:41] mojavelinux commented on #127
I'm pretty sure calling `find_by` on the document returns all nodes.

[2015-09-27 22:51] rahmanusta commented on #127
Yes, I tried it and +find_by+ with no argument returns all nodes :+1:

[2015-09-28 05:55] mojavelinux commented on #127
:+1:

[2015-09-28 09:55] #127 closed

[2015-09-30 23:27] mojavelinux commented on #126
In short, `{set:...}` is for edge cases. You shouldn't really be using it except as a last resort. The preferred way to define attributes is using the attribute entry syntax as you showed:

[code]

We really only implemented `{set:...}` in Asciidoctor for compliance reasons. I really don't like it.

They are defined at the time attributes are resolved, which is currently during the render phase (e

[2015-10-02 11:05] vanjan opened #128 "Release opal-npm-wrapper fix"
Hi guys, could you please release this @143a6867 fix? I'm working in an environment where git protocol is blocked an am unable to install packages that use asciidoctor.js@1.5.2.

[2015-10-02 14:55] rahmanusta opened #129 "How to invoke sub_replacements method?"
How can I invoke https://github.com/asciidoctor/asciidoctor/blob/master/lib/asciidoctor/substitutors.rb#L394 method in Asciidoctor.js ?

[2015-10-03 09:09] Mogztter commented on #128
Sure.
@mojavelinux @anthonny Should we release a `1.5.2.100` (using the same versioning as the Chrome Extension) ?

[2015-10-03 09:12] #115 closed

[2015-10-03 23:52] mojavelinux commented on #128
I'd rather just make it 1.5.2.1.

[2015-10-04 00:00] mojavelinux commented on #129
The quickest way to answer questions like this is to write it in Ruby, cross compile the result with Opal and then see what it output. It may not be exactly what you want, but it should give you the idea.

It will look something like:

[code]

Assuming you have a reference a block (i.e., node) in the AST.

[2015-10-04 00:57] anthonny commented on #128
wdyt about 1.5.2-1 (or 1.5.2-100)?

 SemVer http://semver.org/

[2015-10-04 01:13] mojavelinux commented on #128
Yes, 1.5.2-1. (RubyGems doesn't allow this part of semver, which is why I have a habit of using the dot where it should be a hyphen).

[2015-10-04 09:47] Mogztter commented on #128
I like the syntax but I think in our case this is misleading:

If we want to follow the SemVer, we should release a 1.5.3-(something) but this is also misleading since this version will not use Asciidoctor core 1.5.3.
I think most of the projects in the Asciidoctor repository (all of them ?) are using the Asciidoctor core version as a base version. The clear benefit is that we know for sure what v

[2015-10-04 11:18] #97 closed

[2015-10-05 10:46] vanjan commented on #128
As a user, I would prefer option 1: Use different version between core and plugins in order to respect SemVer. It's important to be able to rely on a standard.

[2015-10-05 19:21] mojavelinux commented on #128
Here's another option to consider. I think it's fine for modules to move ahead of the core version in prereleases. Otherwise, everything has to wait for core to be released to start having prereleases, and that just makes no sense. So we'd only guarantee the alignment with core when the final version is released. You can then use all the prerelease syntax of SemVer leading up to the final release

[2015-10-06 10:11] vanjan commented on #128
Sounds like a good compromise.

[2015-10-06 12:18] Mogztter commented on #128
I think it was massively confusing because version `1.5.2` is used everywhere. Most of the projects are using core version so users expect the version of the project to be the version of core.

Using a unique version number is easier and thus more user friendly at first but will become very confusing. For instance, if I create a new plugin, the first version will be `1.5.(something)` even if my pl

[2015-10-06 12:29] Mogztter commented on #128
Maybe something to discuss http://discuss.asciidoctor.org/ ?
I don't want to "waste" time but I think this is important to come to an agreement and share a common guideline.

[2015-10-08 09:12] vanjan commented on #128
Any chance of releasing this fix?

[2015-10-08 11:08] Mogztter commented on #128
@vanjan Yes I'll do a `1.5.3-1` release this week

The discussion about SemVer is global and I don't want to hold the release because of that.
So for now, I will just stick with the current versioning schema :smile:

[2015-10-08 12:26] anthonny opened #130 "Travis CI - Test should fail"
Test should fail because Opal is undefined but the job pass

![image](https://cloud.githubusercontent.com/assets/2006548/10366016/d4ccfbbe-6dc7-11e5-9904-d5e61578e07c.png)

https://travis-ci.org/asciidoctor/asciidoctor.js/builds/83552848

[2015-10-08 12:58] vanjan commented on #128
Great, thanks a lot!

[2015-10-08 23:54] mojavelinux commented on #130
Probably the return value of the build is not making it back to the shell?

[2015-10-10 09:22] Mogztter commented on #130
https://github.com/mhevery/jasmine-node/issues/212

[2015-10-10 09:34] Mogztter opened #131 "Publish version 1.5.3-preview.1 to npmjs"
@anthonny Could you please publish version [1.5.3-preview.1](https://github.com/asciidoctor/asciidoctor.js/tree/v1.5.3-preview.1) to npmjs ?

I'm not a maintainer so I can't do it :disappointed:
https://docs.npmjs.com/cli/owner

[2015-10-10 09:34] Mogztter commented on #131
Ref: #128

[2015-10-10 09:42] Mogztter commented on #130
I tried to update `grunt-jasmine-node` to `0.3.1` but this version is trying to load Bower spec files:

[code]

The config `all: ['spec/npm']` is somehow ignored.
With this version `ReferenceError` terminates Grunt build with exit code 0...

[2015-10-11 20:45] mojavelinux commented on #131
@anthonny Could you add @Mogztter as a maintainer of the package?

[2015-10-11 20:54] anthonny commented on #131
@Mogztter why don't we use another version of opal-npm-wrapper (0.7.x or 0.8.0) ?

@mojavelinux  Sure i can, i just need his username on the npm website ;)

[2015-10-12 07:20] Mogztter commented on #131
Ops, my username is `ggrossetie`.

We didn't take the time to update to Opal 0.7.0 because there was already a release candidate of Opal 0.8.0.
Version `1.5.3-preview.1` is cut from `opal063` branch. This branch includes all the commits before the migration to Opal 0.8.0. So `1.5.3-preview.1` is a stable version with Asciidoctor 1.5.2 and Opal 0.6.3 (including 143a6867).

[2015-10-13 04:54] mojavelinux commented on #95
In the change that is being proposed for 1.5.3 (see https://github.com/asciidoctor/asciidoctor/pull/1511), `restore_attributes` will be called immediately after parse. That means that after you load the document, the attributes will be:

a) the attributes as defined at the end of the header (or those overridden by the API)
b) the attributes will be modifiable

I did, however, change the internal n

[2015-10-13 04:55] mojavelinux commented on #96
In the change that is being proposed for 1.5.3 (see asciidoctor/asciidoctor#1511), restore_attributes will be called immediately after parse. That means that after you load the document, the attributes will be:

a) the attributes as defined at the end of the header (or those overridden by the API)
b) the attributes will be modifiable

[2015-10-13 04:55] mojavelinux commented on #96
So your assumption will become true once 1.5.3 is released.

[2015-10-13 04:57] mojavelinux commented on #120
This is basically the same issue as #96. It will be resolved as of 1.5.3.

[2015-10-13 06:41] mojavelinux opened #132 "Move opal_ext from core to Asciidoctor.js"
Since Asciidoctor.js now has its own build and tests (i.e., its own lifecycle), I think we should move the [opal_ext](https://github.com/asciidoctor/asciidoctor/tree/master/lib/asciidoctor/opal_ext) folder from core to Asciidoctor.js.

This will also allow us to make any changes necessary when Opal is upgraded without waiting on a core release. The only Opal-related code that would remain in core

[2015-10-13 19:51] anthonny commented on #131
Done ;)

[2015-10-14 06:43] Mogztter commented on #132
Yes :+1:

[2015-10-14 14:30] vanjan commented on #128
How's that going? :)

[2015-10-14 17:17] Mogztter commented on #128
I'm now a maintainer of the package, so version `1.5.3-preview.1` will soon be available :smile:

[2015-10-15 00:41] mojavelinux commented on #132
Cool. Let's try to get this done for 1.5.3. Would you like me to send the PR to Asciidoctor.js to move the files?

When we move the files, we need to figure out where the require 'asciidoctor/opal_ext' belongs. I think for anything that isn't part of Asciidoctor itself, we should include it from Asciidoctor.js.

That would mean the following two lines get added to opal_ext.rb:

[code]

Then the As

[2015-10-15 00:42] mojavelinux commented on #132
This way, if any stdlib changes happen in Opal, you can now deal with them in Asciidoctor.js.

Of course, the ultimate goal is that all references to Opal can get eliminated from core, but that's a gradual process as Opal matures.

[2015-10-15 00:44] mojavelinux commented on #12
Should this issue still be open? It's attached to 1.5.2, which has already been released.

[2015-10-15 11:09] rahmanusta commented on #96
+1 @mojavelinux

[2015-10-15 14:11] nerk commented on #95
:+1: Thanks!

[2015-10-15 15:14] rahmanusta commented on #129
Thanks Dan.  I did it as you said, @mojavelinux what do you think about first implementation in following gif?

![ezgif com-video-to-gif](https://cloud.githubusercontent.com/assets/1158804/10518076/6eb6e442-7368-11e5-8660-186ca4765720.gif)

[2015-10-15 17:52] Mogztter commented on #131
And done! :tada:

[2015-10-15 17:52] #131 closed

[2015-10-15 17:52] Mogztter commented on #128
Done! https://www.npmjs.com/package/asciidoctor.js

[2015-10-15 17:52] #128 closed

[2015-10-15 18:17] Mogztter commented on #121
We now have the beginnings of a user manual :smile:

[2015-10-15 18:17] #121 closed

[2015-10-15 18:19] Mogztter commented on #94
We now use `Opal.hash` which is quite close to regular JSON data structure. But I agree we should provide a simpler and more JavaScript friendly API.

[2015-10-15 18:23] Mogztter commented on #12
We've updated the "changes to Asciidoctor" section as part of #54. I think we can close this issue and create dedicated issues if we want to write about an advanced topic.

[2015-10-15 18:33] Mogztter commented on #101
@mojavelinux @bblonski So this issue belongs to AsciidocFX or do we have to fix something in Asciidoctor.js ?

[2015-10-15 22:02] mojavelinux commented on #101
It has to be something in AsciidocFX (if it's even still a problem) because there's no code in Asciidoctor.js (different from Asciidoctor core) that would determine one way or another how this is parsed. It's in the converter, and that just depends which version of Asciidoctor that AsciidocFX is using.

[2015-10-15 22:54] mojavelinux commented on #129
Exactly what I had in mind! Very, very nice!

What I really like about this is that you still get to use the replacement syntax in AsciiDoc as a shorthand (good author experience), but we change _when_ the replacements happen. Instead of waiting until conversion, and only seeing the result in the output, authors get to tap into the functionality of Asciidoctor directly from the editor. This is the

[2015-10-15 22:58] mojavelinux commented on #12
:+1:

[2015-10-15 22:59] mojavelinux commented on #94
I'll update the title of the image to reflect that we're using Opal.hash now.

[2015-10-16 05:51] mojavelinux commented on #132
I'm really excited about this because it's a big day for Asciidoctor.js to be getting ever closer to building the Asciidoctor gem without any external assistance. After 1.5.3, we can start sifting through core and seeing if we can get rid of any Opal-specific logic (or as much as reasonable).

[2015-10-16 05:52] mojavelinux commented on #132
I made the equivalent PR on the core side. I won't merge it until the files are in the Asciidoctor.js repository.

https://github.com/asciidoctor/asciidoctor/pull/1518

[2015-10-16 08:32] rahmanusta commented on #129
Thank you Dan!!

I wonder whether there is any missing concept for applying replacements feature?

Btw, I copied the replacements methods to a Ruby class and compiled it to JS via Opal. If I understand it truely, $sub_replacements is only accessible over block objects. If  we make it directly public, I can call it directly. What do you think about that?

Thanks.

[2015-10-16 08:52] mojavelinux commented on #129
You are correct that it's not yet public, though I'm not sure I want it to be public in its current state. What's probably best is to create a separate little utility project that does this that can be used in extensions and other places like IDEs. In other words, we want the behavior, but we don't want to couple to the implementation in core, which could change over time.

[2015-10-16 08:52] mojavelinux commented on #129
One thing I learned from working the JavaScript community recently is that no function is too small for a project :)

[2015-10-16 11:35] vanjan commented on #128
Thanks!

[2015-10-16 15:26] rahmanusta commented on #129
Haha :) It is Ok for me, I will append the replecements code as an addon. Thanks :)

[2015-10-18 05:35] mojavelinux commented on #132
Removed. Let me know if you run into any trouble.

[2015-10-18 09:50] Mogztter commented on #132
I found an issue, we need to `require("asciidoctor/opal_ext");` at [the top of `asciidoctor.rb`](https://github.com/asciidoctor/asciidoctor/blob/master/lib/asciidoctor.rb#L8) before [constants are resolved](https://github.com/asciidoctor/asciidoctor/blob/master/lib/asciidoctor.rb#L172).

If we don't want to modify `asciidoctor.rb`, I can use a regexp to add `require("asciidoctor/opal_ext");` but t

[2015-10-19 05:11] mojavelinux commented on #132
I'm totally comfortable with adding the require statement in core. Even if one day we don't need anything in that file, that gives Asciidoctor.js 100% control over what to feed into that require statement. I've gone ahead and added it to core.

[2015-10-19 08:02] Mogztter commented on #132
Thanks, that's perfect +1:
I will do some more testing and upgrade the Chrome Extension to the latest version to make sure everything is working fine.

[2015-10-19 09:20] mojavelinux commented on #132
:+1:

[2015-10-20 13:03] rahmanusta opened #134 "Registering block extension with Opal v0.8.0"
Hello;

I'm trying current code base, it works well but I couldn't register a block extension. Is there any code example or path to follow ?

[2015-10-20 18:00] rahmanusta commented on #134
I explicitly registered tree-block extension as below;

[code]

Thanks.

[2015-10-20 18:00] #134 closed

[2015-10-20 19:55] Mogztter commented on #134
Yes, you can have a look at the Chrome extension: https://github.com/asciidoctor/asciidoctor-chrome-extension/pull/110/files#diff-9d0e9e361d809a50cf0b6b5f3cef6b13R138

I think we should also automatically require extension when we cross-compile them to stay consistent with: https://github.com/asciidoctor/asciidoctor.js/blob/master/dist/asciidoctor-core.js#L13972

[2015-10-20 21:38] bblonski commented on #101
Yeah, I just checked again.  It is still an issue in AsciidocFX.  I believe the issue is with docbook conversion.  The colon is not valid for docbook xml.

[2015-10-23 15:46] Mogztter commented on #101
Ok in that case, I'm closing the issue, thanks for the clarification.

[2015-10-23 15:46] #101 closed

[2015-10-23 19:33] mojavelinux commented on #131
:beers:

[2015-10-31 08:23] mojavelinux commented on #132
I've done some testing of my own and this looks ready to go!

The examples/userguide_test.html seems to require the AsciidoctorConfiguration block that is present in the asciidoctor_example.html file:

[code]

and

[code]

https://github.com/asciidoctor/asciidoctor.js/blob/master/examples/userguide_test.html

[2015-11-01 14:50] Mogztter commented on #132
@mojavelinux Hmmm, if `AsciidoctorConfiguration` is undefined then the `asciidoctor` module is automatically loaded. See https://github.com/asciidoctor/asciidoctor.js/blob/master/src/append-require-core.js#L2

Both userguide_test.html and asciidoctor_example.html are working on my machine. Do you see an error in the console with userguide_test.html ?

[2015-11-01 14:51] Mogztter opened #135 "Upgrade to Opal 0.8.1"
Opal 0.8.1 was released the 12 October 2015: https://github.com/opal/opal/tree/v0.8.1

See https://github.com/anthonny/opal-npm-wrapper/issues/8

[2015-11-01 20:33] mojavelinux commented on #132
It may have been a temporary glitch in my build. As long as the two html
files in examples are loading Asciidoctor the same way, we're good.

[2015-11-02 17:05] #132 closed

[2015-11-02 17:09] #116 closed

[2015-11-02 17:10] Mogztter opened #136 "Release a preview version based on Asciidoctor 1.5.3"
The title says it all!

[2015-11-02 22:50] mojavelinux commented on #132
:+1:

[2015-11-02 22:54] mojavelinux commented on #136
:+1:

[2015-11-04 06:47] mojavelinux commented on #116
Nice!

@Mogztter could you update the issue to set the resolved version? Probably set the label to bug too.

[2015-11-04 18:57] #12 closed

[2015-11-04 19:11] Mogztter commented on #120
@rahmanusta Could you please test with the latest release `1.5.3.preview.2` ?

[2015-11-04 19:11] Mogztter commented on #96
@nerk Could you please test with the latest release `1.5.3.preview.2` ?

[2015-11-04 19:11] Mogztter commented on #95
@nerk Could you please test with the latest release `1.5.3.preview.2` ?

[2015-11-04 22:43] nerk commented on #96
With `1.5.3.preview.2`, it seems as if all attributes are now empty/unset after `Opal.Asciidoctor.$load()`.
I defined an attribute `test` in the document

[code]

and tried to access it with

[code]

Both calls return null.

[2015-11-04 22:48] mojavelinux commented on #96
You should never really access `doc.$header()` as that's really an internal block. I'm checking the other case.

[2015-11-04 22:50] nerk commented on #95
With `1.5.3.preview.2` I cannot set attributes at all, see #96

[2015-11-04 22:50] mojavelinux commented on #96
From the Ruby side, the following works:

[code]

[2015-11-04 23:03] nerk commented on #96
I used the latest `asciidoctor-all-min.js` without success. I might try a small node.js test case tomorrow. Oops, I meant later today... ;-)

[2015-11-04 23:06] mojavelinux commented on #96
I just tried with Asciidoctor.js and it works...however, I am noticing a major problem.

It seems that the attribute splitting code is not returning the right values when attributes are passed as a string to the API. Opal seems to have "fixed" the regexp replacement pattern and now it is breaking Asciidoctor.js.

[2015-11-04 23:07] mojavelinux commented on #96
...and that may have something to do with why you are getting attributes you don't expect...maybe.

[2015-11-04 23:15] mojavelinux commented on #96
@Mogztter the following line needs to be replaced in lib/asciidoctor.rb

[code]

to

[code]

That will enable the attributes string to be properly chopped up into attributes. I'll fix it in core, but we'll need a patch for the 1.5.3 release.

I don't see any other instances of this in the code (yet).

[2015-11-04 23:20] mojavelinux commented on #96
I addressed the issue with attribute parsing in core: https://github.com/asciidoctor/asciidoctor/commit/df49f227bab51f2b1197862e7ac95f2a0b844f2b

[2015-11-04 23:28] mojavelinux commented on #96
Btw, here's the code I'm using to verify that I can access the attributes defined in the header:

[code]

This works using `js`, `node` or `phantomjs`.

@Mogztter it might be useful to include a test script like this in the repository. We might want to make it more generic (not just print attributes), but the initialization is what is important.

[2015-11-04 23:38] mojavelinux commented on #96
For testing outside the project, I used:

[code]

and

[code]

I'm confused, however, how npm finds the Opal code. I didn't think we bundled it in asciidoctor-core.min.js and I don't see any Opal code loaded by opal-npm-wrapper. But it works :)

[2015-11-04 23:47] mojavelinux commented on #95
Here's the proper way to do this with Asciidoctor 1.5.3.

[code]

That's if you want to respect the user's setting to enable source highlighting. If you just want to override what the user has and force syntax highlighting to be on, then just hard set the attribute in the attributes option:

[code]

[2015-11-07 16:39] Mogztter opened #137 "Remove backreference substitution hack for Opal"
capture_1 = ::RUBY_ENGINE_OPAL ? '$1' : '\1'
[code]
That will enable the attributes string to be properly chopped up into attributes. I'll fix it in core, but we'll need a patch for the 1.5.3 release.
I don't see any other instances of this in the code (yet).
I addressed the issue with attribute parsing in core: asciidoctor/asciidoctor@df49f22

Full discussion: https://github.com/asciidoctor/ascii

[2015-11-07 22:23] #137 closed

[2015-11-09 10:32] Mogztter commented on #96
@mojavelinux

Indeed, I'm a little bit confused about how this should work:

[code]

I'm using Asciidoctor.js `1.5.3-preview.4` and the code above prints:

[code]

Document attributes are overridden, how do I get the document attribute value (`prettify`) ?
With `var options = Opal.hash({'attributes': 'source-highlighter=highlightjs@'});`  (note the `@`), I get:

[code]

[2015-11-10 11:43] nerk commented on #96
@Mogztter The output of your example is what I would expect.
The first case prevents modification of the attribute from within the document. The second case with the '@' does allow it. This is the defined behavior.

[2015-11-10 12:00] nerk commented on #96
Just did a quick test with the brackets preview and it still does not seem to work. I need to create a test case to reproduce the behavior.

[2015-11-10 12:46] nerk commented on #96
I put asciidoctor-all.min.js from preview.4 into the local directory and ran:

[code]

Output:
[code]

Note the `undefined`

With `var options = Opal.hash({'attributes': 'source-highlighter=highlightjs@'});`, the output is
[code]

Does the `undefined` matter?

[2015-11-10 13:40] nerk commented on #96
With Asciidoctor.js 1.5.2, the following worked:

[code]

Note `hash2` and `doc.attributes.map`

This does not work with 1.5.3.preview.4 anymore and will output `undefined`.

Instead, we need to use `hash`and `doc.attributes.smap`.
[code]

[2015-11-10 13:51] nerk commented on #96
As @mojavelinus mentioned, `doc.$header()` should not be used to access attributes, that's fine with me. However, I still do not know if it is possible to access attributes defined anywhere in a document.

[code]
Output:

[code]

[2015-11-10 14:21] nerk commented on #95
@mojavelinux Your example works with Asciidoctor.js 1.5.3.preview.4. However, if you modify your document by inserting an additional blank line after the document title

[code]

The output is
[code]

[2015-11-10 21:19] Mogztter commented on #95
I think that if you insert an additional blank line `:source-highlighter: coderay` is no longer an header attribute but a document attribute (i.e. attribute defined in the content of the document).

So `highlight.js` is used until the parser read `:source-highlighter: coderay` (and Coderay doesn't work in Asciidoctor.js therefore an exception is thrown)

I think this is the expected behavior.

[2015-11-10 21:39] Mogztter commented on #96
@nerk

Yes you're correct, I made a mistake.

Yes and no, this mean that `attributes` on the header are empty.

`smap` is an internal property and Opal can decide to modify it or remove it in future version :disappointed:
Instead you should use Hash's public methods instead: https://github.com/opal/opal/blob/master/opal/corelib/hash.rb (`$has_key?`, `$fetch`...)

`hash2` is too verbose and we deci

[2015-11-10 22:46] nerk commented on #95
I am not sure if this should be expected behavior. I think Asciidoctor.js should rather issue a warning, ignore this setting (because it does not apply to the JavaScript environment) and continue the conversion. The current behavior makes it hard if not impossible for applications like preview plugins to deal with such a situation. What would regular users do with such an error message?

[2015-11-10 22:50] nerk commented on #95
And yes, the additional blank line makes this a document attribute. That's what I wanted to test, :wink:

[2015-11-10 22:55] nerk commented on #96
Apparently it does not. Maybe I am doing something wrong...

[2015-11-10 23:06] nerk commented on #96
Ok, I think I now understand after reading https://github.com/asciidoctor/docgist/issues/21

`hash2` still works, but doc.attributes.map should not be used. I am going to change my code to using `hash` and the `$has_key?` and `$fetch`

[2015-11-11 00:18] nawroth commented on #95
Simply adding `Opal.CodeRay = function(){};` gives a different error, so we might be able to patch this with a fake object from the JS side. Manipulating the Ruby source would be a cleaner solution for sure.

I'm having the same issue in DocGist, I just didn't realize it until now!
Header attributes are easy enough to handle (and override as needed).
But those defined in the document can currently

[2015-11-11 10:19] Mogztter commented on #95
You can use `coderay-unavailable` attribute, see https://github.com/asciidoctor/asciidoctor/blob/master/lib/asciidoctor/substitutors.rb#L1403.

[code]

[2015-11-11 10:39] nerk commented on #95
Thanks, I did not know this attribute! Generation does not crash anymore.

However, the generated HTML still contains the Coderay related markup. I would prefer a fallback to highlight.js. The user should be informed that something did not work as expected. He will just see an unstyled listing of source code.

[code]

[2015-11-11 10:50] nerk commented on #95
I just noticed that it actually works with highlight.js, probably because of `class="highlight"` matches. The following won't work, though:

[code]

No crash, no highlighting, no warning/error message.

[2015-11-11 20:49] nawroth commented on #95
Wow, the `unavailble` attributes for `coderay` and `pygments` are really useful! Thanks @Mogztter

Here's what I'm doing in DocGist (in my fork for now):
* If coderay/pygments are defined in the header, override it using the default highlighter in DocGist (currently highlightjs, but I'm considering going with codemirror instead). Log a message in the console.
* Scan the content for pre.CodeRay/pre

[2015-11-14 12:32] mojavelinux commented on #96
There is not currently an official API for doing this. You can access the attributes in the header (after loading the document) and you can access the attributes when converting a node. But we don't have a way yet to access document attributes defined beyond the header. We need to design and implement it.

[2015-11-14 12:33] mojavelinux commented on #96
à la carte

[2015-11-14 12:36] mojavelinux commented on #95
Exactly, though I would probably describe it as "a document-level attribute in the body" (as opposed to a document-level attribute in the document header, or header attribute).

[2015-11-14 12:38] mojavelinux commented on #95
I think the approach should be that you determine what the value should be prior to conversion, lock the attribute, then convert. Locking the attribute will prevent it from being changed once conversion starts. That way, it doesn't matter what crazy values are set in the document further down.

[2015-11-14 13:04] Mogztter commented on #96
@nerk @mojavelinux  can we close this issue and open a new feature request on Asciidoctor core to access document attributes defined in the "body" ?

[2015-11-14 13:06] mojavelinux commented on #96
Yes. Link back to this issue and the other one related to attribute access in this repository. That way, we don't lose the context but we can start with a clear goal in mind.

[2015-11-14 13:23] Mogztter commented on #95
I'm moving this issue to the 1.6.0 milestone and will proceed with 1.5.3 release

[2015-11-14 13:30] Mogztter opened #139 "Build is failing on AppVeyor with Asciidoctor 1.5.3 and Nashorn JDK 8"
Investigate this issue before releasing version 1.5.3 "final"

Build log: https://ci.appveyor.com/project/asciidoctor/asciidoctor-js/build/411

[2015-11-14 16:22] nawroth commented on #95
@mojavelinux That's what I tried first, but it failed due to buggy attribute-handling code on my side. I've fixed that now, so it's back on the right track again!

[2015-11-14 18:39] nerk opened #140 "Asciidoctor core needs an official API to access document level attributes"
Asciidoctor API needs to be extended to allow read/write access to document level defined attributes. Asciidoctor 1.5.3 already solves this problem for header level attributes (see #96).

[2015-11-14 18:40] nerk commented on #96
Closing this, follow-up #140

[2015-11-14 18:40] #96 closed

[2015-11-14 18:54] nerk commented on #95
Should we close this issue and link to #140?

[2015-11-14 19:58] mojavelinux commented on #140
Thanks for reporting. Shouldn't we file this in core?

[2015-11-14 20:12] nerk commented on #96
Follow-up is https://github.com/asciidoctor/asciidoctor/issues/1575

[2015-11-14 20:12] nerk commented on #140
This is now https://github.com/asciidoctor/asciidoctor/issues/1575

[2015-11-14 20:12] #140 closed

[2015-11-14 20:38] Mogztter commented on #140
Thanks Thomas for creating this issue

[2015-11-14 20:48] Mogztter commented on #95
After reading https://github.com/asciidoctor/asciidoctor/issues/1255 I think we can already "lock" (force) an attribute in 1.5.3 with:
[code]

Yes we can even if this one is a bit different because in the end we just want to be able to "lock" the attribute.

[2015-11-14 21:05] #95 closed

[2015-11-15 13:50] Mogztter commented on #139
There's indeed an issue when running Asciidoctor.js on Nashorn: https://github.com/opal/opal/issues/658

[2015-11-19 19:54] rahmanusta commented on #139
I switched to v1.5.3 yet, and see  this problem in Nashorn engine :-1:

[2015-11-20 12:44] Mogztter commented on #139
Yes, I'm trying to resolve this issue before releasing 1.5.3 "final".
My knowledge on Nashorn is limited so any help will be greatly appreciated :smile:
Here is an open pull request to run the Nashorn engine against the rubyspec: https://github.com/opal/opal/pull/1195

[2015-11-20 13:57] rahmanusta commented on #139
@Mogztter When we replace (1) to (2), it works

(1) Opal.cdecl($scope, 'DEFAULT_STYLESHEET_KEYS', ["", "DEFAULT"].$to_set());
(2) Opal.cdecl($scope, 'DEFAULT_STYLESHEET_KEYS', ["", "DEFAULT"]);

[2015-11-20 14:03] rahmanusta commented on #139
Also, when an exception throwed, it doesn't give the reason what the exception is, but if we wrap line 3607 with new Error object, it gives me the reason. like below;

throw exception;  -> throw new Error(exception);

[2015-11-26 04:14] brlafreniere opened #141 "ArgumentError: illegal key name: block_terminates_paragraph"
ArgumentError: illegal key name: block_terminates_paragraph
        at OpalClass.$new (/home/blaine/projects/crisp-wiki/node_modules/asciidoctor.js/node_modules/opal-npm-wrapper/index.js:2783:17)
        at OpalModule.def.$raise (/home/blaine/projects/crisp-wiki/node_modules/asciidoctor.js/node_modules/opal-npm-wrapper/index.js:2434:31)
        at OpalModule.$define (/home/blaine/projects/crisp-wi

[2015-11-26 16:43] mojavelinux commented on #141
I wonder if this relates to the Opal 0.8 upgrade. We had a problem with the ordering of a constant assignment in another place in the code, so perhaps we're seeing something similar.

Are you just running Asciidoctor.js or are you trying to assign that key?

[2015-11-26 16:46] brlafreniere commented on #141
I'm not trying to assign `block_terminates_paragraph` specifically, just trying to do pretty simple stuff, render a basic inline document.

[2015-11-26 16:48] mojavelinux commented on #141
Could you post a snippet just in case it helps with debugging? I'm looking in particular for the simplest thing that makes it fail. That way, we can convert it to a test.

[2015-11-26 16:51] brlafreniere commented on #141
Here's a gist: https://gist.github.com/brlafreniere/f96989f5ab3095564f33

[2015-11-26 17:12] brlafreniere commented on #141
Also, just a note... it renders correctly the first time, but then the error appears after I refresh the page. So it always works on the first page load, then after that, the error appears.

[2015-11-27 18:44] mojavelinux commented on #141
I wonder if this happens when the new `Opal.require` method is called twice. Just brainstorming.

[2015-11-28 11:22] Mogztter opened #142 "Upgrade to Opal 0.9.0.beta2"
All JavaScript engines (including Nashorn) seem to be running fine with Opal 0.9.0.beta2

[2015-11-28 17:48] mojavelinux commented on #142
\o/

[2015-11-29 10:37] Mogztter commented on #142
[code]

Victory !

[2015-11-29 17:22] mojavelinux commented on #142
Joyous day! Nice work!

[2015-12-05 09:52] Mogztter opened #144 "Remove "opal_ext/dir.rb" override"
The implementation in Opal is quite close and I think it's safe to remove this "override".

One difference is that Opal is using `Opal.current_dir || '.'` instead of `ENV['PWD'] || '.'` for `pwd` method. See: https://github.com/opal/opal/blob/master/opal/corelib/dir.rb

[2015-12-05 09:54] Mogztter opened #145 "Remove "opal_ext/error.rb" override"
`SecurityError` is now part of Opal. See: https://github.com/opal/opal/blob/master/opal/corelib/error.rb

[2015-12-05 10:54] Mogztter opened #146 "Remove task runner (Grunt)"
Task runner (Grunt, Gulp...) relies on plugins. This is good but also bad because only a few of them are actively maintained.

http://blog.keithcirkel.co.uk/why-we-should-stop-using-grunt/

I think we should just use npm as a task runner and remove Grunt:

http://blog.teamtreehouse.com/use-npm-task-runner
http://blog.keithcirkel.co.uk/how-to-use-npm-as-a-build-tool/

What do you think ?

[2015-12-05 19:28] mojavelinux commented on #144
We definitely want to start getting rid of these patches, so +1. It seems like `Opal.current_dir` is the effectively the same, though we probably want to mention it in the release notes.

[2015-12-05 19:28] mojavelinux commented on #145
Nice. Another patch we can remove.

[2015-12-05 19:29] mojavelinux commented on #146
:+1: sounds reasonable to me. If we do reintroduce a build tool, I think it should be Gulp, not Grunt. I much prefer Gulp and it has a modular design that is easier for us to control.

[2015-12-06 11:25] Mogztter commented on #142
Resolved with #143 in 4cb32ed353fe3d2403c218c7c5885140d1262380

[2015-12-06 11:25] #142 closed

[2015-12-06 11:26] Mogztter commented on #139
Resolved in 4cb32ed353fe3d2403c218c7c5885140d1262380
@rahmanusta I've just released [v1.5.3-preview.5](https://github.com/asciidoctor/asciidoctor.js/tree/v1.5.3-preview.5), could you please test if Nashorn engine is now working in AsciidocFX ?

[2015-12-06 11:27] Mogztter commented on #135
We moved directly to Opal 0.9.0.beta2 to fix an issue with Nashorn. See #142 and #139

[2015-12-06 11:27] #135 closed

[2015-12-06 19:30] mojavelinux commented on #139
Awesome!

[2015-12-06 20:33] rahmanusta commented on #139
@Mogztter Thank you so much, it works very well! :+1:

[2015-12-07 12:45] rahmanusta opened #147 "Table shown in single column"
In Version 1.5.3-preview.5 , tables are shown in single column like below;

It it a bug ?

![image](https://cloud.githubusercontent.com/assets/1158804/11627164/1ff5a66a-9cf1-11e5-9ecf-e9ba1df49832.png)

[2015-12-07 14:27] Mogztter commented on #147
Can you confirm that this behavior is only in `1.5.3-preview.5` (and not in `1.5.3.preview.4`) ?

[2015-12-07 14:31] Mogztter commented on #147
This is working with Asciidoctor `1.5.3` (Ruby). I think something changed in Opal 0.9.0.beta2.

[2015-12-07 14:31] rahmanusta commented on #147
Yes sir if I didn't make a mistake

[2015-12-07 14:42] Mogztter commented on #147
I will need @mojavelinux's help to know where to look for... Usually this is a Regexp issue but I'm not familiar with the [table.rb](https://github.com/asciidoctor/asciidoctor/blob/master/lib/asciidoctor/table.rb) class :disappointed:

[2015-12-08 00:52] mojavelinux commented on #147
This appears to be a bug in Opal, though it's very surprising.

The condition on the following line is returning true when all the conditions indicate it should return false:

https://github.com/asciidoctor/asciidoctor/blob/v1.5.3/lib/asciidoctor/table.rb#L492

It boils down to the following comparison:

[code]

which compiles to (minus all the boolean comparison of the result value):

[code]

Tha

[2015-12-08 06:01] jaredmorgs opened #148 "Issues with resolving URI includes in asciidoc content."
In https://github.com/asciidoctor/asciidoctor/issues/1599#issuecomment-162774406 I was discussing with @mojavelinux an issue I was having with getting URI includes to work.

He's confirmed that there may be an issue with using asciidoctor.js in "Browser Mode", which may be preventing the https://github.com/norganna/adoc-usermacro confluence AsciiDoc User Macro from transforming URI sourced content

[2015-12-08 06:15] mojavelinux commented on #148
Actually, I think it's outside of browser mode that is the problem.

After looking closer at the adoc-usermacro, I realize that the problem may be that you aren't running in safe (or server) mode. You probably need to set it like:

[code]

Notice I removed the use of Opal.hash2. That isn't necessary.

[2015-12-08 06:15] mojavelinux commented on #148
In other words, there are two different problems (two different scenarios) here.

[2015-12-08 22:28] Mogztter commented on #147
@mojavelinux Thanks for the detailed analysis, I will try to debug further. Do you any special techniques to find the root cause ?

[2015-12-08 23:27] mojavelinux commented on #147
In theory, a simple test case should reproduce the number comparison
problem. Then we can debug the != method.

[2015-12-08 23:30] mojavelinux commented on #147
We override the != method in comparable.rb. I wonder if we're introducing
this bug.
Le 8 déc. 2015 16:27, "Dan Allen" <dan.j.allen@gmail.com> a écrit :

[2015-12-09 00:57] jaredmorgs commented on #148
@mojavelinux That fix you proposed works great for GitHub-hosted content! So it definitely has solved the issue of URI resolution.

Now I just need to work out why Atlassian Stash URIs are not resolving.

[2015-12-09 00:59] mojavelinux commented on #148
Great news!

Let's be sure not to lose in this issue that URI includes are not resolving when using Asciidoctor.js outside the browser (as far as I have observed).

[2015-12-09 07:44] mojavelinux commented on #141
The illegal key name happens if the main Asciidoctor.js code is loaded more than once (same for the Ruby code). This is the first failure condition it hits when that is the case, though I should probably remove it so it's just a warning.

What I can't figure out is how the code is being loaded twice. It's not the require statement. It must literally be duplicated in the source file. Perhaps somewh

[2015-12-09 08:02] mojavelinux commented on #141
I went ahead and made a patch to core so this won't be a problem in 1.5.4. However, I still recommend tracking down why you are getting duplicate source code (at least, I'm assuming that's the cause).

[2015-12-09 08:04] mojavelinux commented on #128
The version discussion is now underway on the mailinglist for those following along.

http://discuss.asciidoctor.org/Projects-versioning-strategy-td3841.html

[2015-12-11 08:39] mojavelinux commented on #136
You've accomplished this issue, so I think you can close...unless you want to update the title to "final version".

[2015-12-11 20:40] Mogztter commented on #136
True...
I still need to solve some issues but hopefully 1.5.3 final will be out this week or the next week !

[2015-12-11 20:40] #136 closed

[2015-12-11 20:43] mojavelinux commented on #136
:+1:

I would like to try to get that file:// prefix problem resolved. I'm trying my best to get to it.

[2015-12-12 13:38] Mogztter commented on #136
You refer to https://github.com/asciidoctor/asciidoctor/issues/1561 ?

[2015-12-12 13:56] Mogztter commented on #147
@mojavelinux you are right, the method override in comparable.rb is the root cause. Just removed the file and now this is working fine.

[2015-12-12 14:00] Mogztter commented on #139
Cool :smile:

[2015-12-12 14:00] #139 closed

[2015-12-12 15:56] #147 closed

[2015-12-12 15:56] #145 closed

[2015-12-12 17:21] Mogztter commented on #148
The problem is that Node.js can't read remote files synchronously. The current implementation is:

[code]

The above code will not work with URI.
We can use [https.get](https://nodejs.org/api/https.html#https_https_get_options_callback) but I didn't find any native solution to make it work synchronously.

@mojavelinux Do you think we can hack something on Asciidoctor core to support Async I/O ?

[2015-12-12 22:24] mojavelinux commented on #136
Yep. It's not a blocker for Asciidoctor.js 1.5.3 (unless you want it to be). I'm shooting to get it resolved in 1.5.4. I'm just not sure where the code goes yet (core or Asciidoctor.js). Investigation will reveal.

[2015-12-12 22:33] mojavelinux commented on #147
Great! I think we had that file because at one point Opal was spinning into an infinite loop trying to compare numbers. I'm hopeful that error is now gone.

[2015-12-12 23:53] mojavelinux commented on #148
I'm just not sure how an async read in core would work since the parser cannot proceed without knowing the lines of content in sequence.

There are two solutions that I see for this:

1. Use an sync request library like https://github.com/ForbesLindesay/sync-request
2. Use a pre-processor step to resolve and cache the content, then invoke the converter once all the content is available

Using (2),

[2015-12-13 16:04] nawroth commented on #113
With `1.5.3-preview.4` I have the `toc` attribute working with an empty value, `preamble` or `macro`. And `:toc!:` shuts it off. Time to close this issue?

[2015-12-13 21:00] mojavelinux commented on #113
Indeed. If more clarification is needed, feel free to reopen.

[2015-12-13 21:00] #113 closed

[2015-12-14 09:56] Mogztter commented on #120
I've added a test:

[code]

[2015-12-14 10:33] mojavelinux commented on #120
Nice!

[2015-12-14 10:34] rahmanusta commented on #120
:+1:

[2015-12-14 14:05] #120 closed

[2015-12-17 08:12] rahmanusta opened #151 "TypeError: undefined is not an object (evaluating '$a.$$p = block.$to_proc()')"
There is a bug while using labeledlist.

When you type a labeled list, after pressing second ":" , it throws following error, it causes JVM crash in AsciidocFX for Mac users (Crash is not normal)

TypeError: undefined is not an object (evaluating '$a.$$p = block.$to_proc()')

{"line":23352,"column":63,"sourceURL":"http://localhost:65117/afx/resource/js/asciidoctor-all.js"}

[2015-12-17 08:47] mojavelinux commented on #151
I vaguely remember having a double colon issue before. Seems similar to https://github.com/asciidocfx/AsciidocFX/issues/94.

I wonder if this is related to the recent fix that we made in Asciidoctor.js to fix comparison problems. See https://github.com/asciidoctor/asciidoctor.js/commit/3f2173262dd8a7c32a2e9250bfee8f7407a94f43. Have you tried with the latest master?

[2015-12-17 08:48] mojavelinux commented on #151
The best way forward now to solve these problems in Asciidoctor.js is to try to create a test case that demonstrates the error. That way we a) aren't guessing and b) are sure it stays fixed.

[2015-12-17 10:27] rahmanusta commented on #151
While writing test spec, I understand that it is not caused from Asciidoctor.js, it is about my treeprecessor implementation to apply elements' line number:

[code]

Is there any limitation for labeled lists ?

[2015-12-17 22:49] mojavelinux commented on #151
Not that I know of. Do you know which line is failing?

There's an add_role method on AbstractNode that you can use here.

[2015-12-17 23:09] mojavelinux commented on #151
The problem appears to be when the dlist only consists of a single key:

[code]

[2015-12-17 23:11] mojavelinux commented on #151
This looks like a bug in core.

[2015-12-17 23:18] mojavelinux commented on #151
This happens because the list item (the value) for a dlist can be nil. This needs to be considered when recursing into blocks in the tree.

I'm not sure what the workaround is atm.

[2015-12-17 23:19] mojavelinux commented on #151
We will have a 1.5.4 out soon, as early as this weekend.

[2015-12-17 23:20] mojavelinux commented on #151
You can monkeypatch the NilClass to have a find_by object that returns an empty array.

[code]

Ugly, but it works.

[2015-12-17 23:21] mojavelinux commented on #151
This usually indicates a null pointer.

[2015-12-17 23:27] Mogztter commented on #151
WHAT ?! This is awesome :smile:

[2015-12-17 23:28] Mogztter opened #152 "Upgrade to Opal 0.9.2"
https://github.com/opal/opal/tree/v0.9.2

[2015-12-17 23:29] mojavelinux commented on #151
Yep. That TOC issue in AsciiDoc table cells is big and we really need to get a fix out to cover it. Plus, we're over 10 resolved issues now, so time to move.

[2015-12-18 10:37] rahmanusta commented on #151
Thanks @mojavelinux ! the monkeypatch solves the issue.

[2015-12-18 18:27] rahmanusta commented on #120
@Mogztter How can I set an attribute as nil? or How to unset an attribute?

[2015-12-18 18:37] rahmanusta commented on #120
[code]

[2015-12-18 19:00] Mogztter commented on #120
doc.attribute_overrides.$delete("data-uri");

Is this the answer ?

[2015-12-18 19:08] rahmanusta commented on #120
Yes, it works

[2015-12-19 06:06] mojavelinux commented on #151
:+1: This is also fixed upstream now too.

[2015-12-19 08:34] Mogztter commented on #120
Cool :smile:
Would you mind sending a pull to request on this subject to improve the user manual https://github.com/asciidoctor/asciidoctor.js/blob/master/manual.adoc ?
You could add a section to explain how to add, update or remove attributes with a simple use case. What do you think ?

[2015-12-19 14:02] rahmanusta commented on #120
Sure, here it is https://github.com/asciidoctor/asciidoctor.js/compare/master...rahmanusta:patch-1

[2015-12-19 17:21] Mogztter commented on #120
This is great thanks! Could you open a pull request ? I will gladly merge
it !
Le 19 déc. 2015 3:02 PM, "Rahman Usta" <notifications@github.com> a écrit :

Sure, here it is master...rahmanusta:patch-1
<https://github.com/asciidoctor/asciidoctor.js/compare/master...rahmanusta:patch-1>

—
Reply to this email directly or view it on GitHub
<https://github.com/asciidoctor/asciidoctor.js/issues/120#issu

[2015-12-19 20:05] rahmanusta commented on #120
Thank you @Mogztter , it is honor for me :)

[2015-12-19 21:52] Mogztter opened #154 "Publish a release candidate version before 1.5.3 final"

[2015-12-19 22:17] Mogztter commented on #154
Done: https://github.com/asciidoctor/asciidoctor.js/releases/tag/v1.5.3-rc.1

@rahmanusta @nerk @mojavelinux @nawroth Hopefully `1.5.3-rc.1` is the last release before `1.5.3` (final) ! Let me know if you find any issue, thanks :smile:

[2015-12-19 22:17] #154 closed

[2015-12-20 12:44] nawroth commented on #154
@Mogztter I'm seeing this warning in the console: `Object freezing is not supported by Opal`
Should I open an issue for that?

[2015-12-20 15:51] mojavelinux commented on #154
That warning should be harmless, but we could clean it up with a patch in
opal_ext. Ideally, I'd like to see it removed from Opal (or an option if it
isn't already) because it really is unnecessary.

[2015-12-20 18:18] Mogztter commented on #154
AFAIK `freeze` method allow to prevent further modifications to an object. In Asciidoctor core, we are using `freeze` to prevent modifications on `options`: https://github.com/asciidoctor/asciidoctor/blob/master/lib/asciidoctor/document.rb#L251

As a result, I think we can safely ignore this warning. I'll add a patch in `opal_ext` for now and I also open an issue: https://github.com/opal/opal/issu

[2015-12-20 20:59] rahmanusta commented on #154
Thanks @Mogztter , it seems ready for v1.5.3 !!

[2015-12-20 22:53] nerk commented on #154
Works for me.

[2015-12-21 07:49] mojavelinux opened #155 "Load nodejs adapter when running under node"
Opal provides a [nodejs adapter](https://github.com/opal/opal/blob/master/stdlib/nodejs.rb) that implements IO operations when running under node. We should consider loading this adapter instead of our own custom logic for node (and use our custom logic for all other platforms).

(If we decide not to use it, we should document that this is intentional).

[2015-12-21 07:50] mojavelinux commented on #155
Basically, evaluate it and decide what you think is best.

[2015-12-21 18:06] Mogztter commented on #155
:+1:

Asciidoctor.js `opal_ext` and Opal are converging (see [stdlib/opal/platform.rb](https://github.com/opal/opal/blob/master/stdlib/opal/platform.rb)) and we should be able to totally remove `opal_ext` directory in a near future:
 * https://github.com/opal/opal/issues/1221
 * https://github.com/opal/opal/issues/1219
 * https://github.com/opal/opal/issues/1218

I will schedule this enhancement f

[2015-12-21 18:22] Mogztter commented on #148
I think we can implement the same as [sync-request](https://github.com/ForbesLindesay/sync-request) but without external dependencies. The basic idea is to use [spawnSync](https://nodejs.org/docs/v0.12.0/api/child_process.html#child_process_child_process_spawnsync_command_args_options) to spawn a child process synchronously. This process will do an async request but the process will wait (exit) un

[2015-12-21 21:57] jaredmorgs commented on #148
Definitely keen to assist with testing in any way I can.

On Tue, 22 Dec 2015 at 04:22 Guillaume Grossetie <notifications@github.com>
wrote:

--

Sent from Mobile.

[2015-12-21 22:02] mojavelinux commented on #155
+1

[2015-12-21 22:21] mojavelinux commented on #148
:+1:

[2015-12-21 22:26] mojavelinux commented on #148
What would be ideal is to get this into Opal, but in the short term it makes sense to put something in place in Asciidoctor.js until that plays out.

[2015-12-26 18:21] nerk commented on #117
Just noticed this issue. I guess this can be closed now that we've got an external repo.

[2015-12-26 18:57] Mogztter commented on #117
@nerk Ok, thanks

[2015-12-26 18:58] #117 closed

[2015-12-27 15:35] Mogztter commented on #146
NOTE: Do not forget to backport Uglify max line length setting. See https://github.com/asciidoctor/asciidoctor.js/pull/156

[2015-12-29 20:52] nawroth opened #158 "Add asciidoctor.js to cdnjs"
See
https://github.com/cdnjs/cdnjs/blob/master/CONTRIBUTING-WIP.md
https://github.com/cdnjs/cdnjs/blob/master/CONTRIBUTING.md

I'd suggest we go for this once we have a stable 1.5.3 out.
As asciidoctor.js is already published to npmjs, it should be possible to make cdnjs fetch new releases automatically.

[2015-12-30 13:22] Mogztter commented on #158
:+1:

[2016-01-01 23:20] nawroth opened #159 "Duplicate last name when there's multiple authors"
With the version in master (and some others post 1.5.2) the last name of authors gets duplicated if there's more than one author.

On a web page where Asciidoctor is loaded, I'm doing:

    Opal.Asciidoctor.$load('= Authors\nNumber One; Number Two\n').attributes.smap

And among the attributes I'm finding:

[code]

Using 1.5.2 and doing:

    Opal.Asciidoctor.$load('= Authors\nNumber One; Number Tw

[2016-01-01 23:26] mojavelinux commented on #159
This is very likely another change caused by "fixes" to regular expressions in Opal. For awhile, Opal was handling certain back-references incorrectly, so we accommodated that quirk. When they fixed it, we started getting the reverse problem. It's been hard to know all the affected regions. This appears to be another.

[2016-01-01 23:49] mojavelinux commented on #159
Actually, it looks something different, a spec bug in Opal. More info coming.

[2016-01-01 23:54] mojavelinux commented on #159
Here's the problem, demonstrated with an example:

[code]

The third entry should be nil, but instead it is repeating the previous entry. (Even stranger behavior occurs if we increase 3 to a higher number).

Here's what it should be:

[code]

[2016-01-01 23:58] nawroth commented on #159
@mojavelinux Great that you already tracked down the problem!

[2016-01-02 01:33] mojavelinux commented on #159
We should definitely see that this is fixed in Opal, but I'm still going to change this line for 1.5.4 since I found a better way to write it anyway.

[2016-01-02 01:33] mojavelinux commented on #159
:muscle:

[2016-01-02 02:06] mojavelinux commented on #159
Reported upstream as https://github.com/opal/opal/issues/1267. Fix applied to core as https://github.com/asciidoctor/asciidoctor/commit/d1f451727adc8f04b781c91d59c6ae220fd29e30.

[2016-01-02 16:29] Mogztter commented on #159
Thanks @mojavelinux for your analysis. If someone want to contribute a test case to avoid regression, that would be fantastic :smile:

[2016-01-03 11:34] #83 closed

[2016-01-03 11:34] #146 closed

[2016-01-05 00:29] mojavelinux commented on #43
We could preempt this by compiling the regular expression groups with XRegExp, then copying the result and inserting it directly into the source in place of the primitive matches. See https://github.com/asciidoctor/asciidoctor/blob/master/lib/asciidoctor.rb#L358-L368. For instance, CC_ALPHA would be:

[code]

For the full mapping of these catagories, see https://github.com/slevithan/xregexp/blob/m

[2016-01-05 00:30] mojavelinux commented on #43
cc: @Mogztter

[2016-01-05 09:46] mojavelinux commented on #146
I just tried this out and it works great!

I did have to install node 0.12 before I could run the build, so we should probably document that as a prerequisite in CONTRIBUTING-CODE.adoc. I think we should recommend using nvm (at least for those on *nix systems).

[2016-01-05 09:51] mojavelinux opened #160 "Upgrade to Asciidoctor 1.5.4"
I'm opening this issue to track the progress of upgrading to Asciidoctor 1.5.4.

Asciidoctor 1.5.4 introduces one change to the DocBook output that breaks an existing test. Instead of using "xlink" for the xlink namespace prefix, we now use "xl".

I also noticed that the examples/userguide_test.html doesn't work unless I explicitly require the asciidoctor gem (e.g., `Opal.require("asciidoctor")`).

[2016-01-05 21:42] Mogztter commented on #160
Good job :+1:

Ok.

`userguide_test.html` is loading `asciidoctor-core.js`: https://github.com/asciidoctor/asciidoctor.js/blob/master/dist/asciidoctor-core.js#L12384

`AsciidoctorConfiguration` should be `undefined` so explicity `Opal.require('asciidoctor');` should be unnecessary... I will try to reproduce this issue

[2016-01-06 00:06] mojavelinux commented on #51
I noticed that the last version of v8 is getting faster and faster. Here's the timing loop for rendering the AsciiDoc Python user guide (which has been a benchmark for Asciidoctor since the beginning) using node.

node 0.12

[code]

node 5.3.0
[code]

(Good to know that Asciidoctor.js works with node v5.3.0).

In comparison, Asciidoctor running on Ruby 2.3.0 converts it in 0.18s.

We should probab

[2016-01-06 00:09] mojavelinux commented on #51
Is it possible to profile using node? It seems like it would be a lot easier to automate.

[2016-01-06 00:10] mojavelinux commented on #72
Now that we've moved to npm scripts, we should reevaluate where we are with this request and if any more work is needed. I think that npm should be able to invoke opal from the commandline to move past the Rakefile, though we do perform some processing in that file that may still be important. At the very least we'd need to reproduce it so we get the same results.

[2016-01-06 00:11] mojavelinux commented on #51
Here are the timings using jjs / nashorn 1.8.0_51.

[code]

[2016-01-06 00:12] mojavelinux commented on #160
I now understand what is happening. The asciidoctor-core.js in *build* is different than the one in *dist*. The one in *dist* has the following line:

[code]

This brings us back to #73 (and probably #72). I really don't like having the dist files in the master of the repository because it leads to a dirty repository after every build. I think they can be in a tag, but I'd rather not have them in

[2016-01-06 07:46] mojavelinux commented on #51
As promised, #161.

For some reason, phantomjs can't resolve the include directive, so I can't get results for phantom. I haven't been able to figure out why yet.

[2016-01-06 08:16] mojavelinux commented on #51
Got it working with PhantomJS 1.9.8:

[code]

[2016-01-06 08:22] mojavelinux opened #162 "Add case in File.read for PhantomJS"
PhantomJS has a fs module, but its API differs from the one in node. We need to update the File.read method to handle this special case. Here's the code we can use:

[code]

Note that the global variable "phantom" is always available in the PhantomJS environment. Otherwise, it identifies itself as node.

[2016-01-07 20:57] Mogztter commented on #159
Resolved in 7710ee25934e7abce0201e26e9982aa2a3e0b4f1

[2016-01-07 20:57] #159 closed

[2016-01-07 21:52] Mogztter commented on #160
Me neither but the good thing is that everyone can download the latest version of Asciidoctor.js.

Something like:

 * Build, tests and examples tasks
  * Use `build` directory (`build` directory is added to `.gitignore`)

 * Release task
  * Create `dist` directory and copy files from `build` directory
  * Stage `dist` directory and commit
  * Tag and publish
  * Remove `dist` directory and commi

[2016-01-07 22:33] mojavelinux commented on #160
I'd rather people looking for the compiled version to be using a release (even if it's a prerelease). Anyone testing master should be building it.

Your proposal is exactly how I imagined it. :+1:

[2016-01-08 08:08] mojavelinux commented on #43
@Mogztter I was thinking more about this and I realized that, for our case, we could implement an interim measure by simply looking for the CC_ and CG_ constants in asciidoctor.rb and expanding them based on the mappings in XRegExp. This covers 90% of the cases and adds international character support (at least what Asciidoctor supports) to Asciidoctor.js.

Of course, we'd need to test how it impa

[2016-01-08 08:24] mojavelinux commented on #43
Over a million runs on a single regular expression, I'm getting about 0.03s difference when using the expanded letter range instead of A-Za-z. So it seems to have a pretty negligible overhead. We'll need to test it in Asciidoctor.js though.

[2016-01-09 10:05] Mogztter commented on #152
0.9.0 is released: https://github.com/opal/opal/tree/v0.9.0

https://github.com/opal/opal/blob/v0.9.0/CHANGELOG.md#090-edge

Require attention:

Hash.keys => Hash.$$keys
Hash.map => Hash.$$map
Hash.smap => Hash.$$smap

[2016-01-09 10:53] mojavelinux commented on #152
I wonder if we should alias these for compatibility.

[2016-01-09 11:04] Mogztter commented on #152
@mojavelinux Yes definitively! A good candidate for the first public API of Asciidoctor.js (https://github.com/asciidoctor/asciidoctor.js/issues/92). We could also provide a simpler syntax because I'm not a big fan of `doc.attributes.smap`. `doc.attributes.smap['sectnums']` -> `doc.attributes['sectnums']`

[2016-01-09 11:45] Mogztter commented on #72
@mojavelinux I've done some testing and I think we can achieve the same result with Opal command line. Here's the command I'm using to generate `asciidoctor_example.js`:

[code]

The only difference is that `asciidoctor_example` is not in a module but loaded automatically by Opal. More specifically:

[code]

Do you know if it is possible from the command line to put `asciidoctor_example` in a modu

[2016-01-09 12:02] Mogztter opened #165 "Rewrite Rake examples task in Node"
Ref: #72

[2016-01-09 21:17] mojavelinux commented on #152
I absolutely agree. We want to present something as close to the Ruby API as possible so there isn't extra friction.

[2016-01-09 21:59] mojavelinux commented on #72
Excellent!

We could just wrap the Ruby code inside a module. Aside from that, we'd have to check with the Opal folks.

[2016-01-10 01:49] mojavelinux commented on #152
Seems like we're up to Opal 0.9.2 now.

[2016-01-10 12:32] Mogztter commented on #152
I saw 0.9.1 yesterday, must have been an error during the release.

[2016-01-10 14:20] #73 closed

[2016-01-10 22:42] mojavelinux commented on #73
+1

This is a big step forward!

[2016-01-13 20:14] Mogztter commented on #165
Resolved by #167 in 61d33898e84b0c456f949f2b97fd337623acda72

[2016-01-13 20:14] #165 closed

[2016-01-13 20:47] mojavelinux commented on #165
:+1:

[2016-01-16 11:28] Mogztter opened #168 "Rewrite Rake jdk8_ea and jdk9_ea task in Node"
Once this is done we can remove Rake from the build process.

Related to #72

[2016-01-16 11:30] Mogztter opened #169 "Compile Ruby code from Node.js"
Once [Opal compiler](https://github.com/opal/opal/blob/master/lib/opal/builder.rb) will be available in Node.js (https://github.com/opal/opal/issues/1290), we should be able to remove completely Ruby from the build (and have a 100% JavaScript build!).

Related to #72

[2016-01-16 13:42] Mogztter commented on #151
Hopefully resolved with the first RC of Asciidoctor.js 1.5.4 in https://github.com/asciidoctor/asciidoctor.js/commit/cb688947e6cafdd0b765006d63d5c74793a26239

Feel free to reopen if that's not the case.

[2016-01-16 13:42] #151 closed

[2016-01-16 13:43] Mogztter commented on #160
[First RC of Asciidoctor.js 1.5.4 is available](https://github.com/asciidoctor/asciidoctor.js/releases/tag/v1.5.4-rc.1) and final is coming soon!

[2016-01-16 13:43] #160 closed

[2016-01-16 13:44] Mogztter commented on #141
Hopefully resolved with the first RC of Asciidoctor.js 1.5.4 in cb68894

@brlafreniere Feel free to reopen if that's not the case.

[2016-01-16 13:44] #141 closed

[2016-01-16 13:47] Mogztter commented on #130
I think this issue is now outdated :wink:

[2016-01-16 13:47] #130 closed

[2016-01-16 21:14] mojavelinux commented on #168
\o/

[2016-01-16 21:16] mojavelinux commented on #169
Incredible. It's pretty amazing to think that Opal not only runs Ruby in JavaScript, but doesn't even get Ruby involved at all.

[2016-01-16 21:16] mojavelinux commented on #160
:+1:

[2016-01-17 17:26] Mogztter commented on #169
Made some progress today, this is gonna be awesome!!!

Yep, Opal on Opal :loop:
We compile Ruby code to JavaScript in JavaScript (without Ruby) "mind blown" :wink:

[2016-01-20 19:17] mojavelinux opened #171 "Add instructions to the contributing code guide about how to add a spec"
Add information to the contributing code guide about how to add a new spec and how to run the specs. This will encourage participation and help grow the test suite.

[2016-01-20 19:17] mojavelinux commented on #171
It might also be nice to explain how to run the benchmarks too. Information about the benchmark scripts can be found in the related PR, #170.

[2016-02-01 13:15] anthonny opened #172 "Dist folder is missing"
The dist folder is not in the repository anymore, so i can't use asciidoctor 1.5.4 in a backend project :

`[13:32:50] gulp-notify: [Compile Error] Cannot find module 'asciidoctor.js' from '/Users/anthonny/github/hubpress.io/src/hubpress/scripts/utils'`

From the `package.json` :

`"main": "dist/npm/asciidoctor-core.min.js",`

[2016-02-01 13:37] Mogztter commented on #172
I think I misunderstood what `npm publish` does. This command doesn't publish the latest tag but the working directory :disappointed:

[2016-02-01 14:10] Mogztter commented on #172
@mojavelinux We will need to publish a new version. Unfortunately `1.5.4-1` has a lower precedence than the associated normal version in SemVer. So we will need to publish a `1.5.5` (something) version: `1.5.5-beta.1` ?

Anthonny alos raises a good point about #73. Now that we removed dist folder from master, it's not possible anymore to build a Node module against Asciidoctor.js master because th

[2016-02-01 19:36] mojavelinux commented on #172
I hit exactly the same problem once when publishing a bespoke plugin. That behavior was not at all what I expected.

If 1.5.4-1 has lower precedence than 1.5.4, then 1.5.5-1 will have a lower precedence then 1.5.5. Perhaps we can use that to our advantage here. Yes? (But I'd also be okay with 1.5.5-beta.1).

I'm going to hold firm on this because I consider to it be a really bad practice to be pub

[2016-02-02 03:51] nathany opened #173 "Mutable String methods are not supported in Opal."
NotImplementedError : String#sub! not supported. Mutable String methods are not supported in Opal.

Asciidoctor.js Live Preview 1.5.4.100
Chrome Version 48.0.2564.97 (64-bit)

Some AsciiDoc files are reporting this error in the Chrome extension. They were rendering before, so perhaps this issue was introduced in an update?

[2016-02-02 04:30] mojavelinux commented on #173
Oops, it looks like this might be the new whitespace expansion logic in verbatim blocks. I forgot about the fact that we can't use sub! gsub! in Opal. This would occur if you have tabs in your verbatim blocks. It's actually harmless since it will simply skip expanding the tabs. However, we'll definitely want to clean this up for 1.5.5.

[2016-02-02 04:30] mojavelinux commented on #173
This change will need to happen in core.

[2016-02-02 14:34] lance opened #174 "Node cannot find asciidoctor.js at runtime"
I am using asciidcotor.js via metalsmith using metalsmith-asciidoctor. A few days ago, our CI started failing with `Error: Cannot find module 'asciidoctor.js'`. After digging a bit, it was easy to recreate the issue with the simplest of tests.  Here is a package.json file.

    {
       "name": "asciidoctor-test",
       "version": "1.0.0",
       "description": "Test if I can get asciidoctor.js t

[2016-02-02 14:50] Mogztter commented on #174
Hello @lance, I think this is a duplicate of https://github.com/asciidoctor/asciidoctor.js/issues/172 ?
The `dist` directory is missing from the npm package published on https://www.npmjs.com/

We will soon published a new version to fix this issue.

Could you tell me what command did you type to build the project ? `npm run build` ?

[2016-02-02 14:55] lance commented on #174
Ah yes, it is a duplicate. Apologies.

To run asciidoctor.js tests I ran `node npm/build.js` and then `npm run test`. (I peeked at package.json).

[2016-02-02 14:55] #174 closed

[2016-02-02 21:17] Mogztter commented on #174
No worries.

This is working fine on my end, do you have any error prior to `Error: ENOENT: no such file or directory, open 'build/asciidoctor-all.js'`

[code]
[code]

[code]
[code]

[2016-02-02 21:23] Mogztter commented on #172
Ok, I've just released `1.5.5-1`, sorry about that :disappointed:

That's a good idea, I will see what I can do!

[2016-02-02 21:25] Mogztter commented on #174
@lance I've just released `1.5.5-1`, could you please confirm that this is issue is now fixed ? Thanks!

[2016-02-02 21:26] Mogztter commented on #173
@nathany Just to clarify, the document is rendering but there's an error in the console ?

[2016-02-02 22:16] mojavelinux commented on #172
+1

You didn't make any mistake. We simply learned something we didn't know :)

[2016-02-02 22:25] nathany commented on #173
No, the document isn't rendering.

![asciidoc-error](https://cloud.githubusercontent.com/assets/4566/12766454/2dd9d31c-c9c1-11e5-92d7-1147e6474b1e.png)

[2016-02-02 22:59] Mogztter commented on #173
Urgh!

@mojavelinux Can we monkey-patch the `sub!` method in Asciidoctor.js ?

[2016-02-02 23:33] Mogztter commented on #173
@nathany Could you please provide an example ? I tried to create a document with tabs in a verbatim block but the document is rendered.

[2016-02-02 23:41] mojavelinux commented on #173
The behavior is triggered when either the `indent` or `tabsize` attributes are set on the block.

We can certainly monkeypatch for this. In fact, it's a simple one liner (applied to lib/asciidoctor/parser.rb)

`line.(g)?sub!\(` needs to become `line = line.\1sub(`

Opal can't make this translation, but we can do it easily.

[2016-02-02 23:42] mojavelinux commented on #173
To be more clear:

[code]

needs to become

[code]

And the same for gsub.

[2016-02-03 02:08] lance commented on #174
It is fixed for me now. Thanks!

Lance Ball
http://lanceball.com

On Tue, Feb 2, 2016 at 4:25 PM, Guillaume Grossetie <
notifications@github.com> wrote:

[2016-02-03 02:30] lance commented on #172
Looks like a version of 1.5.5-1 won't help those folks who have loose semver dependencies in their package.json. The `-1` suffix is considered a pre-release suffix, and so 1.5.5 is still > 1.5.5-1. See the issue I opened on the metalsmith-asciidoctor project. https://github.com/ndhoule/metalsmith-asciidoc/issues/2

[2016-02-03 02:35] nathany commented on #173
It sounds like a good change, especially with Ruby (MRI) adopting immutable (frozen) strings throughout in coming versions. Maybe the Asciidoctor core could run tests under [Ruby 2.3](https://www.ruby-lang.org/en/news/2015/12/25/ruby-2-3-0-released/) with some of the frozen pragmas/flags enabled?

As for a minimal example, all my files specify tabsize at the top. Commenting that out appears to res

[2016-02-03 05:21] mojavelinux commented on #173
That's because the source also has to have a tab in it. You can see the logic here:

* https://github.com/asciidoctor/asciidoctor/blob/master/lib/asciidoctor/parser.rb#L1077-L1083
* https://github.com/asciidoctor/asciidoctor/blob/master/lib/asciidoctor/parser.rb#L2668-L2675

We generally have a policy in Asciidoctor of not modifying strings. We only use it in two very hot places in the code for pe

[2016-02-03 05:22] mojavelinux commented on #173
I do like this idea, though.

[2016-02-03 05:39] nathany commented on #173
Thanks. Glad I have a workaround for now.

[2016-02-03 23:12] Mogztter commented on #172
You mean 1.5.4 is still > 1.5.5-1 ? The previous release was 1.5.4.

[2016-02-04 01:22] lance commented on #172
Yes, my mistake.

Lance Ball
http://lanceball.com

On Wed, Feb 3, 2016 at 6:12 PM, Guillaume Grossetie <
notifications@github.com> wrote:

[2016-02-04 06:59] matsev opened #175 "Fail to render header using node"
AsciiDoctor.js fails to render title using the `=` prefix.

Example (basically the same as `sample.js` used [this blog](http://asciidoctor.org/news/2014/08/23/asciidoctor-js-1-5-0-released/), but with changed `content`:

[code]

---

**Expected result:**

The text `This is a title!` should be rendered in a header tag.

---

**Actual result:**

[code]

---

**Environment:**

[code]

[code]

[code]

[2016-02-04 07:07] mojavelinux commented on #175
The problem seems to be here:

[code]

The inline doctype is for converting a single line of paragraph text. In this case, you don't have any paragraph content, hence the crash. (maybe it shouldn't hard crash, but it still won't give you any output).

You probably mean to set the doctype to `article` (which is the default).

[2016-02-04 09:04] matsev commented on #175
Thanks for a fast and accurate response! Changing the doctype did indeed solve my problem. May I suggest that you improve the error message described above.

[2016-02-04 09:15] mojavelinux commented on #175
If I remember correctly, we have discussed this. The return value now is nil, which in Opal just looks weird (because it's a wrapped class). But that is a valid return value. What I think we need to do is make the inline doctype use case more clear in the docs. http://asciidoctor.org/docs/user-manual/#document-types I think what that section is missing is an explanation of what happens when there

[2016-02-04 22:28] Mogztter commented on #173
I will also add a post compile task to check if asciidoctor-*.js contains `$gsub!` or `$sub!` methods calls.

[2016-02-05 00:18] mojavelinux commented on #173
I would make that a test. I think the test suite rather than the build itself should have that types of defensive check. But otherwise, :+1:

[2016-02-06 10:39] Mogztter commented on #175
@mojavelinux The only way for Asciidoctor.js to add an error message is to wrap the `$convert` method. Maybe a warn log in Asciidoctor core is the way to go ? I must say `inline` and `article` can be confusing for new user and a warn message could clear that up.

[2016-02-06 11:21] mojavelinux commented on #175
If we added a warning, it would need to go into core. I think it's reasonable to issue a warning if there is a block, but it's not a candidate for inline conversion.

This is also about education. I think part of the surprise is the Opal NilClass return value. Generally, we don't return nil in Asciidoctor, but this is one case when we do. If the console.log line was changed to the following, the r

[2016-02-06 17:52] Mogztter commented on #172
This issue is resolved with the `1.5.5-1` release: https://github.com/asciidoctor/asciidoctor.js/releases/tag/v1.5.5-1

[2016-02-06 17:52] #172 closed

[2016-02-22 13:42] rahmanusta opened #176 "Extensions: uninitialized constant Object::Extensions"
I'm getting this exception with latest asciidoctor and asciidoctor.js code base. What can be the reason ? Thanks.

[2016-02-22 15:01] Mogztter commented on #176
Not sure, could you please post the full stack trace ? What's your JavaScript engine ? Nashorn ?

[2016-02-22 16:38] rahmanusta commented on #176
I've realized that you switched building Asciidoctor.js from Grunt to npm build.

Do you use `npm run-script release` command to generate dist ?

[2016-02-22 17:36] Mogztter commented on #176
dist folder is only generated when we’re releasing a version (only
available on tags).
But you don't need dist folder, everything is available in build folder
when you build the project with npm run build :
https://github.com/asciidoctor/asciidoctor.js/blob/master/CONTRIBUTING-CODE.adoc#building-asciidoctorjs
Le 22 févr. 2016 5:38 PM, "Rahman Usta" <notifications@github.com> a écrit :

[2016-02-22 21:49] rahmanusta commented on #176
Yes, it is okay now :) Thanks @Mogztter

[2016-02-22 21:49] #176 closed

[2016-02-22 22:50] Mogztter commented on #176
Ok cool, for my knowledge, what was the issue ?

[2016-02-23 08:09] rahmanusta commented on #176
I was trying to build Asciidoctor.js with the old way `grunt` command

[2016-03-09 05:47] jaredmorgs commented on #148
This is causing me the same issue for GitLab RAW content.

URL pattern on GitLab is https://example.com/docs/glossary/raw/master/Introduction.adoc and it won't load the referenced file.

[2016-03-09 06:35] mojavelinux commented on #148
@jaredmorgs Could you clarify your scenario. Are you running Asciidoctor.js on a file that has an include that points to a file on GitLab?

[2016-03-09 09:44] jaredmorgs commented on #148
It's basically the same issue with the adoc-usermacro not loading content
from a direct URL using an include statement from BitBucket Server (and
now) GitLab.

It comes down to URL structure, and how content targets in includes are
currently parsed by the .js version of the tool.

The last thing discussed was to implement a way for the links to be loaded.
On Wed, 9 Mar 2016, 16:35 Dan Allen <notif

[2016-03-09 10:02] mojavelinux commented on #148
The best way to proceed is that we need a test that runs either in node.js or phantomjs. @Mogztter would you be willing to help get a test setup so that we can start to talk about something tangible?

[2016-03-13 16:26] #144 closed

[2016-03-23 08:31] fbarrailla commented on #174
Hi,

the `1.5.5-1` solves the problem but this version number doesn't match with the pattern `^1.5.2` (see [https://github.com/asciidoctor/gulp-asciidoctor/blob/master/package.json](gulp-asciidoctor package.json)). Can you please publish a 1.5.6 to fix that ?

Thanks ;)

[2016-03-23 08:36] mojavelinux commented on #174
This match is going to have to wait for the 1.5.5 release.

[2016-03-31 08:54] kuechlerm opened #178 "Does not work with module loader for browser"
When using JSPM or Webpack, requiring / importing asciidoctor.js requires the node module "fs".
This does not work, because I want to use it in a browser environment.
When my code runs, the right path (caused by JAVASCRIPT_PLATFORM) is used. But for reasons unknown both JSPM and Webpack tell me that they cannot find the module "fs".

Can you provide a package with browser-only code and please plea

[2016-03-31 09:04] anthonny commented on #178
Hi @kuechlerm

I have the same problem with HubPress and i'm working on it.
I use babel/browserify and with this tools JAVASCRIPT_PLATFORM is considered as 'node' instead of 'browser'.
This is because in this kind of "compilation" the test `(typeof module !== 'undefined' && module.exports)` return `true`
https://github.com/asciidoctor/asciidoctor.js/blob/master/lib/asciidoctor/opal_ext.rb#L3

I ha

[2016-03-31 09:19] kuechlerm commented on #178
:+1: @anthonny

[2016-04-01 18:35] Mogztter commented on #178
Interesting.
@anthonny Could you please open a pull request with your fix on `opal_ext` ?

TypeError: Cannot read property 'write' of undefined at $IO.write_proc

Do you have a simple test to reproduce the problem ?

Thanks

[2016-04-01 18:55] anthonny commented on #178
Yes i will open a PR i must rebase before.
I do not have a simple test, i encounter this error during the development of HubPress
But i suppose that i can create a little project to reproduce.

[2016-04-03 07:34] anthonny commented on #178
The PR is here https://github.com/asciidoctor/asciidoctor.js/pull/179

[2016-04-03 20:27] anthonny commented on #178
@kuechlerm we are working on this problem, we are waiting for the 0.9.2 in the opal-cdn project.
You can already use the fixed version and make some tests by using my repository:
`"asciidoctor.js": "github:anthonny/asciidoctor.js#fix-opal"`

[2016-04-03 22:00] kuechlerm commented on #178
@anthonny I tried bundling with webpack but got this errrors:

[code]

[2016-04-03 22:10] anthonny commented on #178
Yes i had a similar issue, xmlhttprequest seems to not work with module loader for browser

Here is how i use asciidoctor with browserify:
[code]

[2016-04-04 16:15] Mogztter commented on #178
@anthonny Is it possible to do it automatically if we detect that we are running in a "Browserify environment" ?

[2016-04-05 21:52] #168 closed

[2016-04-05 22:35] mojavelinux commented on #168
:+1:

[2016-04-23 10:47] Mogztter opened #181 "Fetch gem from RubyGems using Node.js"
To compile Asciidoctor to JavaScript in JavaScript, we need to clone asciidoctor repository.
Instead we could download gem from RubyGems:

URL structure:
[code]

Archive structure:
[code]

[2016-04-23 20:41] Mogztter opened #183 "Opal 0.10.0.beta3 is considerably slower than Opal 0.9.0.beta2"
Raw result: https://gist.github.com/Mogztter/b883b78a2e8764da04c855a7fc14a95e

 * Run 1 is on average 75,11% slower
 * Run 2 is on average 100,61% slower
 * Run 3 is on average 120,31% slower
 * Run 4 is on average 122,90% slower

[2016-04-23 20:52] mojavelinux commented on #181
You could also download a zip of the release from GitHub. That might be simpler as it doesn't require multiple steps to unpack.

https://github.com/asciidoctor/asciidoctor/archive/v1.5.4.zip

[2016-04-23 20:54] mojavelinux commented on #183
:crying_cat_face:

[2016-04-24 10:09] Mogztter commented on #183
I've opened an issue in Opal and I've also created a repository to reproduce this issue: https://github.com/Mogztter/asciidoctor.js-benchmark

Could you please test on your machine to see if you get the same results ?

[2016-04-24 10:20] Mogztter commented on #181
That's an excellent idea! :+1:

[2016-04-30 09:43] #152 closed

[2016-05-01 22:30] mojavelinux commented on #152
:+1:

[2016-05-28 11:14] pbalaga opened #186 "Adding a block to every generated file"
Hello,

I would like to add a constant block to every file generated with asciidoctor.js. I could do that by doing an 'include' in every file, but isn't there a simpler way not to repeat that in each file (option / attribute)?

Since I'm rendering to HTML, I know I could use a templating engine and a layout, but letting Asciidoctor.js do all the stuff has some advantages:
- guarantee that it will

[2016-05-28 13:15] Mogztter commented on #186
Hello @pbalaga,

If you want to add custom content to the header or footer of a document, you can use [docinfo file](http://asciidoctor.org/docs/user-manual/#docinfo-file).

If you want to add a constant block elsewhere, could you please give me an example of what you trying to achieve ?

[2016-05-28 14:09] pbalaga commented on #186
Imagine that you want to add sort of a disclaimer to the begining of every documentation page, e.g. "alpha version - API may be changed, watch out!".

It wouldn't be bad if that message was consistent with asciidoc warning admonition and that's why I don't want to use a templating engine such as jade.

As far as the position of such a disclaimer is concerned, it's ok at the top. To put it elsewher

[2016-05-28 14:36] Mogztter commented on #186
Ok thanks for the explanation. I think docinfo will not work in your case.

You are not using a static site generator, like Awestruct, right ? You are just converting AsciiDoc files with Asciidoctor.js ? Are you using Asciidoctor.js in a Node environment or in a browser environment ?

You could use [custom templates in Asciidoctor](http://asciidoctor.org/docs/user-manual/#provide-custom-templates)

[2016-05-28 15:39] pbalaga commented on #186
I'm using Metalsmith static site generator in Node together with jade as templating engine. It's not that I don't want to use templates but I wanted to know if there is a built-in method in asciidoctor.

I'm trying to ensure that the same styling is applied to admonitions (i.e. warnings) and the disclaimer. Jade can include other files, but has problems including html files that are the final prod

[2016-05-28 21:35] mojavelinux commented on #186
Probably what you want here is a Treeprocessor extension. That allows you to take the document structure and inject a new block somewhere in the tree. You can also use a Postprocessor to inject content into the generated HTML (before it gets passed to the metalsmith layout), but that's more of a brute force approach.

[2016-06-05 18:56] ldez opened #187 "Get errors and warnings"
How to get errors and warnings?

I want to use errors and warnings into a report, how I can do that ?

[code]

[2016-06-05 22:48] mojavelinux commented on #187
This is one of the main changes that needs to happen in the next release of core. See https://github.com/asciidoctor/asciidoctor/issues/44. Once that change is made, it will be possible to extract this information.

[2016-06-11 09:28] rahmanusta opened #188 "Creating inline image in a InlineMacroExtension"
Hello,

I'm doing this to create image block;
[code]

But, I'm not able to create inline image in similar way like below;

[code]

How can I create inline image like block image in Asciidoctor or Asciidoctor.js ? @Mogztter @mojavelinux

Thanks.

[2016-06-12 06:52] mojavelinux commented on #188
I be honest, I've never tried. But my recommended approach is to create a simple extension in Ruby, transpile it to JavaScript, then study what it made. That's the quickest way I think to getting in the right ballpark.

[2016-06-12 10:01] rahmanusta commented on #188
Actually I was doing this, for example I edited the emoji plugin, but I'm not able to create inline image in this way.

ERROR => {"name":"include?","message":"undefined method `include?' for nil","args":[".svg"],"line":4545,"column":28,"sourceURL":"http://localhost:50293/afx/resource/js/asciidoctor-all.js"}

[code]

[2016-06-12 11:12] Mogztter commented on #188
@rahmanusta Do you have the full stack trace ? I want to know on what object `include?` method is called.

[2016-06-12 13:55] rahmanusta commented on #188
I'm fortunately getting this in webworker, but I found the reason :) It is because I'm not sending any `target` attribute and the target is being nil and it breaks when trying to access include method of nil.

https://github.com/asciidoctor/asciidoctor/blob/master/lib/asciidoctor/converter/html5.rb#L540

My target just was to see whether it generates an inline image, so then the following function

[2016-06-13 18:06] #188 closed

[2016-06-27 09:04] Mogztter commented on #183
This is now fixed in Opal! :tada:

[2016-06-27 09:04] #183 closed

[2016-06-27 10:10] mojavelinux commented on #183
I'm really impressed by your hard work on this one. Tracking down these sorts of problems is extremely tedious and you really provided some great observations and analysis to help work through it. :beers:

[2016-06-29 15:05] Mogztter commented on #183
Thank you!!
Indeed this was not an easy task but it was fun and I learn a lot in the process 😉

[2016-07-06 06:16] jxxcarlson opened #192 "Asciidoctor-latex"
Implement the asciidoctor-latex extension in asciidoctor.js.  I've implemented an alternative to using Ruby's prepend, so this should now be possible.  See [L571](https://github.com/asciidoctor/asciidoctor-latex/blob/master/lib/asciidoctor/latex/converter.rb#L571) of the converter code.  Code quality of `asciidoctor-latex` may need to be improved for this.

Reason: I would like be able to render a

[2016-07-07 05:13] mojavelinux commented on #23
For the record, here's an example:

[code]

In order to reproduce, the JavaScript implementation has to produce this result when calling `new Date().toString()` since the conversion happens in the internals of the Time class.

[2016-07-07 05:23] mojavelinux commented on #23
Opal should probably use `toLocaleDateString()` instead of `toString()` so that it gets a consistent result to parse. After all, this is all internal state.

[2016-07-07 05:34] mojavelinux commented on #23
Actually, that turns out to be not all that reliable. Whatever the solution, I think Opal should not be assuming that toString() is going to be in the en-US locale.

[2016-07-12 19:34] MikeBull94 opened #193 "attrs.map lookup is undefined."
Hi,

I am trying to add the Chrome Inline Macro extension as shown in [this post](https://github.com/asciidoctor/asciidoctor.js/issues/76#issuecomment-65512581), but am encountering the following build error:

[code]

On the following line:

[code]

where the value of `attrs` is:

[code]

---

Am I missing something? I'm not sure what this `map` function is meant to do but it is returning undefine

[2016-07-12 22:19] Mogztter commented on #193
Hello @MikeBull94 , this post is outdated with the latest version of Opal.
`attrs` is an Hash object and `map` method has been renamed in recent Opal version: https://github.com/asciidoctor/asciidoctor.js/releases/tag/v1.5.3

You should replace `map` with `$fetch` to retrieve the `text` attribute.
Let me know if this is working.

[2016-07-12 22:39] MikeBull94 commented on #193
Using `attrs.$fetch('text')` worked, thanks very much.

[2016-07-12 22:39] #193 closed

[2016-07-15 18:44] nerk commented on #173
A fix for 1.5.5 would be really great. Some people over here just got bitten by this using the Brackets plugin.

[2016-07-17 22:27] Mogztter commented on #192
Hi @jxxcarlson ,
I'm going to try to compile Asciidoctor Latex to JavaScript. Could you please create a release of asciidoctor-latex on GitHub (so I can easily download a version of asciidoctor-latex ?)

[2016-07-19 16:01] jxxcarlson commented on #192
Thank you very much Guillaume.  I just made a first release at

	https://github.com/asciidoctor/asciidoctor-latex/releases/tag/0.1 <https://github.com/asciidoctor/asciidoctor-latex/releases/tag/0.1>

Jim (@jxxcarlson)

[2016-08-08 12:28] bguiz opened #197 "Doesn't render include::file.adoc[]"
The ruby version renders included files, however this JS version doesn't, it fails silently and simply outputs an empty string.

[code]

[2016-08-08 13:23] Mogztter commented on #197
Hello @bguiz

Could you please post the code you're using to render this document and describe the environment where you code is running (Browser, Node...) ?

We do have a test on this feature, see https://github.com/asciidoctor/asciidoctor.js/blob/master/spec/share/common-specs.js#L148-L153

Hope this helps :smile:

[2016-08-08 13:52] bguiz commented on #197
Using NodeJs 4.4.7, where `foo.adoc` and `bar.adoc` are in the same folder as this script, and the current working directory.

[code]

foo.adoc is:

[code]

and bar.adoc is similar

[2016-08-08 13:54] bguiz commented on #197
... looking at the test case you pointed to, I think the options are probably the cause:

[code]

[2016-08-08 14:01] Mogztter commented on #197
Indeed, the include directive is disabled when Asciidoctor is run in secure mode. To learn more about secure mode, refer to the section [Running Asciidoctor Securely](http://asciidoctor.org/docs/user-manual/#running-asciidoctor-securely).

Also I don't know if the include directive is working with `inline` document type.
If this is not working with the option `{'safe': 'safe' }`, could you try wit

[2016-08-08 14:04] bguiz commented on #197
Yeah, I wasn't sure about these options, just got them from the main README for this repo.

Perhaps highlight all of the options required in the JS version that aren't necessary when running the ruby version?

[2016-08-08 16:08] Mogztter commented on #197
The `inline` document type is the "Hello world" of Asciidoctor. Basically you just want to render a single paragraph. When working on a real document that's almost never the case. You are right, I think I should highlight this in the README.

Is this working now ? Do you had to change the document type from `inline` to `article` (or remove the document type since `article` is the default)

[2016-08-08 22:06] mojavelinux commented on #197
It is. Of course, the effective content still has to be a single paragraph as required by the inline doctype.

[2016-08-11 13:08] bguiz commented on #197
Thanks for the suggestions. I have got it working now with my trivial example.

[2016-08-11 13:08] #197 closed

[2016-08-11 13:11] bguiz opened #198 "input.$respond_to? is not a function"
I'm getting `input.$respond_to? is not a function` errors when I tried to build my asciidoc files.

Any idea where to start looking, or what would cause this?

[code]

[2016-08-11 13:12] bguiz commented on #197
My more complex things does not work though, see https://github.com/asciidoctor/asciidoctor.js/issues/198

[2016-08-11 16:58] Mogztter commented on #198
Hmmm not sure... :thought_balloon:
Could you please give me your code + a document to reproduce this issue ?

[2016-08-11 16:59] Mogztter commented on #197
Cool :+1:
I replied to your second issue :)

[2016-08-14 10:55] Mogztter opened #200 "Provide a simple extension point to compile custom extensions/libraries"
The idea is to provide an easy way for the users to compile custom Asciidoctor extensions/librairies written in Ruby to JavaScript.

This should be as simple as:

 1.Clone the asciidoctor.js repository
 2.Copy your extension/library into the `custom-extensions` directory
 3.Add this line to `custom-build.js`

[code]

 4.Run `npm run build`

We could maybe go a step further and use a `json` configu

[2016-08-14 22:40] mojavelinux commented on #200
I really like this idea!

[2016-08-16 17:17] #192 closed

[2016-08-17 16:42] cmoulliard opened #201 "NilClass_alloc { '$$id': 4, apply: [Function], call: [Function] }"
This node.js script generates this exception `NilClass_alloc { '$$id': 4, apply: [Function], call: [Function] }` when the content is coming from a file and no stack trace is available

[code]

How can we get the stack trace and more info about the error ?

[2016-08-17 17:23] cmoulliard opened #202 "Stylesheet not used to generate the HTML"
When I use this syntax to pass as attribute another style and dir, the HTML generated doesn't look like a foundation page

[code]

[2016-08-17 17:26] Mogztter commented on #201
Hello @cmoulliard

This is not an exception, in fact `NilClass_alloc` is the object returned by `processor.$convert(content, options);`.

In Ruby, the method should return a `Nil` instance translated by Opal to a `NilClass_alloc` instance.

The problem is that `inline` document type can only convert a single paragraph. To convert a document you need to use an `article` document type (this is the d

[2016-08-17 17:28] mojavelinux commented on #201
I don't think that's correct. `$convert_file` returns nil because it directs the output to the file, but `$convert` should return the String that is converted.

[2016-08-17 17:38] Mogztter commented on #202
I think you need to use `header_footer: true` otherwise you will generate an embeddable HTML (without `<head>` and `<footer>`).

[code]

You can also remove the trailing slash on `stylesdir`:

[code]

[2016-08-17 17:48] mojavelinux commented on #202
@Mogztter correct. There are actually two approaches. You can either set `header_footer` to `true`, or you can set the `to_file` and let the `$convert` method handle writing to file (the latter is the preferred approach in this case).

[2016-08-17 17:48] Mogztter commented on #201
`$convert` method returns the String that is converted when the content is a single paragraph otherwise the method returns a `Nil` object.
But maybe we do have a different behavior on Asciidoctor core (Ruby) ?

[code]

[code]

[2016-08-17 17:49] mojavelinux commented on #202
The other reason you don't use any styles is because if you write the HTML file yourself, then Asciidoctor doesn't copy the stylesheet. Asciidoctor only copies the stylesheet when it handles writing the HTML file.

[2016-08-17 17:49] mojavelinux commented on #201
Oh, yes. In that case, you are absolutely correct.

[2016-08-17 20:47] Mogztter commented on #201
I think we should really think about adding a warning in core :smile:
https://github.com/asciidoctor/asciidoctor.js/issues/175#issuecomment-180739105

I also need to update the documentation in Asciidoctor.js to explain the limitation of `doctype: inline` and explain how to convert a document with `doctype: article`.

[2016-08-17 21:09] mojavelinux commented on #201
I agree a warning in core is appropriate. Having said that, I don't think anyone should be using the inline doctype unless that person knows what they are doing. It's not a "normal" doctype but a special API option.

[2016-08-18 05:48] cmoulliard commented on #202
Can you document the different ways that we can use `processor.$convert()` to generate a string a response, save to a file, ... ?

[2016-08-18 06:00] cmoulliard commented on #202
If I use this syntax

[code]

I get this error

[code]

[2016-08-18 06:52] cmoulliard opened #203 "mtime: undefined method `mtime' for #<File:0x1d0>"
This syntax

[code]

generates this error

[code]

[2016-08-18 07:18] mojavelinux commented on #203
Looks like we need to implement mtime on File, @Mogztter.

[2016-08-18 08:22] mojavelinux commented on #202
You almost always want to set the safe mode. When you get errors about the jail, it means you are using the default safe mode. The recommended safe mode is either safe or unsafe.

I don't think you should be setting the doctype. That is something the document should set. (The option is provided for special uses).

[2016-08-18 08:23] mojavelinux commented on #202
They are the same as the Ruby API. Having said that, we are still testing all these cases in Asciidoctor.js, so you are a guinea pig / early adopter ;)

[2016-08-18 08:46] cmoulliard commented on #202
Thx. The error is gone after setting the `safe` mode.

I'm facing this error now

[code]

The directory exists. The error is reported by this line of code within `asciidoctor-core.js`

[code]

[2016-08-18 11:25] Mogztter commented on #203
I've already implemented `mtime`  in Opal 0.10+.
This issue will be fixed in the next release of Asciidoctor.js when https://github.com/asciidoctor/asciidoctor.js/pull/199 is merged.

[2016-08-18 11:26] Mogztter commented on #198
ping @bguiz ?

[2016-08-18 11:28] Mogztter commented on #181
Resolved in https://github.com/asciidoctor/asciidoctor.js/commit/2f95f284ccc2f67bd43e9191a26378a3230a3eb7

We now download zip of the release from GitHub (as suggested by @mojavelinux)

[2016-08-18 11:28] #181 closed

[2016-08-18 15:11] cmoulliard opened #204 "Target directory does not exist"
This error is reported even if the directory exists.

[code]

The error is reported by this line of code within asciidoctor-core.js

[code]

![screenshot 2016-08-18 17 22 20](https://cloud.githubusercontent.com/assets/463790/17779578/6af9c46c-6568-11e6-8048-53cd395b23c8.png)
![screenshot 2016-08-18 17 22 29](https://cloud.githubusercontent.com/assets/463790/17779577/6af99668-6568-11e6-9d83-6e089f3

[2016-08-18 16:53] cmoulliard commented on #204
I have created some test cases here demonstrating the issue : https://github.com/cmoulliard/asciidoctor-nodejs/blob/master/test/render.js#L49

This code could be used within this project !

[2016-08-18 17:35] Mogztter commented on #204
Thanks @cmoulliard, I can reproduce this issue.

I've fixed this issue in #205.
Do not forget to add the following line to load Node.js specific code:

[code]

[2016-08-18 19:36] mojavelinux commented on #203
Oops, that's right! And I even gave it a :tada:. Where is my brain?

[2016-08-18 20:29] Mogztter commented on #203
Ha ha :laughing:

Once everything is merged, I will most likely do a "preview release" (`1.5.5-2) because I've recently enabled a lot of I/O functions when running on Node.js.

Thanks again @cmoulliard for pushing this project forward :wink:
 I will try my best to keep it up!

[2016-08-19 06:36] cmoulliard commented on #204
Why do you suggest to load specific Node.js code with opal which is used here to load asciidoctor ?

[2016-08-19 07:09] Mogztter commented on #204
By default Opal assumes that you are running in a browser environment.
So basically you are using browser specific code to do I/O operations.

If you ask Opal to load `nodejs` then you will use an implementation of I/O operations based on Node.js.
For instance this file will be loaded: https://github.com/opal/opal/blob/master/stdlib/nodejs/file.rb

As you can see in this file, we are using Node.js

[2016-08-19 07:39] cmoulliard commented on #204
As I'm not using Nodejs and opal within a Browser but on a terminal (= backend), do I have to pass a parameter to Opal ?
If I read correctly what you explain, it is mandatory to set this line within the code `opal.load("nodejs");` for backend mode usage ?

[2016-08-19 08:25] Mogztter commented on #204
I'm not sure to understand, you are running your script with `node asciidoc.js` no ? So you are using Node.js right ?

Not a parameter but you need to add `opal.load("nodejs")` in your code after `require("asciidoctor.js")()`.

Yes exactly.

[2016-08-19 08:54] cmoulliard commented on #204
Yes. I'm running `node asciidoc.js`

Done but the error is still there. I suppose that I need now your fix ?

[code]

[2016-08-19 09:52] Mogztter commented on #204
Yes you need https://github.com/asciidoctor/asciidoctor.js/pull/205/commits/5c8e9def3117ec53cb0e66bad47c2d8624e99e63 but I will shortly make a new release with this fix.

[2016-08-19 10:18] cmoulliard opened #206 "Upgrade to opal 0.10.1"
`bower install` fails as opal `0.10.0.beta3`  is not longer available

[code]

I suggest to move to opal 0.10.1 release

[2016-08-19 10:48] cmoulliard commented on #204
I have retested my code using latest code build locally with opal 0.10.1

I get this error now

[code]

Test case updated : https://github.com/cmoulliard/asciidoctor-nodejs/blob/master/test/render.js#L86

[2016-08-19 11:00] #206 closed

[2016-08-19 11:01] Mogztter commented on #206
You're right 0.10.0.beta3 was removed after 0.10.0 was released. I've updated the `bower.json` file.

[2016-08-19 11:07] Mogztter commented on #204
Did you cherry-picked 5c8e9de ? Seems like my fix is missing.
You also need to `require` the compiled file: `require("build/npm/asciidoctor-core.js")` or to install the local node package from your project: `npm instal ../asciidoctor.js`

[2016-08-19 11:23] cmoulliard commented on #204
Retested with the cherry-picked commit and my test succeeds ;-)

[2016-08-19 14:46] Mogztter opened #207 "Download build dependencies behind a proxy"
Currently we are using `http` and `https` Node's modules to download archives from GitHub. These modules do not provide an easy way to configure a proxy.
I think we will need to use a library:

 * [Needle](https://github.com/tomas/needle#get-through-proxy) looks nice and has only a few dependencies
 * [Request](https://github.com/request/request#proxies) is more "popular" but has a ton of dependen

[2016-08-19 15:33] cmoulliard opened #208 "readlines: undefined method `readlines' for #<File:0x220>"
The following code

[code]

generates this error

[code]

[2016-08-19 15:37] Mogztter commented on #208
I think this is fixed in https://github.com/asciidoctor/asciidoctor.js/pull/199
Could you please give it a try ?

[2016-08-19 16:13] cmoulliard commented on #208
Test done with the fix and all the tests are green here : https://github.com/cmoulliard/asciidoctor-nodejs/blob/master/test/render.js

[2016-08-19 17:05] #204 closed

[2016-08-19 17:09] Mogztter commented on #208
Resolved by #199

[2016-08-19 17:09] #208 closed

[2016-08-19 17:09] Mogztter commented on #203
Resolved by #199

[2016-08-19 17:09] #203 closed

[2016-08-24 00:39] mojavelinux commented on #72
@Mogztter The `examples` task is failing right now. It claims that the "native" import cannot be found. How do we load Opal's native library in this new build system?

[code]

[2016-08-24 07:11] Mogztter commented on #72
@mojavelinux On Windows, I have another issue, could you please post the stack trace ? I think we need to add the "native" library to [the Opal node runtime](https://github.com/Mogztter/opal-node-runtime/tree/master/src).

[2016-08-24 07:14] Mogztter opened #210 "Windows: error when running npm run examples"
The following error is thrown when running `npm run examples` on Windows:

[code]

Windows 1 SP1 (64bits)

[2016-08-24 07:18] Mogztter opened #211 "Windows: error when running npm run build"
The following exception is throws when running `npm run build` on Windows:

[code]

As a workaround you can add [securerandom.rb](https://github.com/opal/opal/blob/master/stdlib/securerandom.rb) to `node_modules/opal-compiler/src/stdlib/`

[2016-08-24 09:05] mojavelinux commented on #72
Indeed.

[code]

Keep in mind that only the examples uses the native library, so this is specific to the examples.

[2016-08-24 09:07] mojavelinux commented on #72
I think you've got the right idea. I'm curious, though, how does opal.js get into the opal-node-runtime project? Are you adding that manually?

[2016-08-24 09:10] mojavelinux commented on #211
That's strange because Asciidoctor doesn't use securerandom.

[2016-08-24 17:36] Mogztter commented on #211
You are right! I think `extensions-lab` submodule was outdated on my working copy.
I've removed `securerandom` from the chart extension a few months ago: https://github.com/asciidoctor/asciidoctor-extensions-lab/commit/a6c32c05f02f969d3fe9dc119b7ed46a2ba3fcc8#diff-327102a98741c995aef50df2ca656f25

[2016-08-24 17:36] #211 closed

[2016-08-24 17:43] Mogztter commented on #72
Yes, I'm building Opal from a tag to produce opal.js.
I also need to copy/paste required Ruby classes in `stdlib` otherwise the Opal compiler is unable to find them.

[2016-08-24 17:51] Mogztter commented on #72
I've just added the `native` library and published version of `opal-node-compiler@0.10.1-integration2`: https://github.com/Mogztter/opal-node-compiler/commit/37fef57eebda24beb0bf9f10344e298da9fdf14a

This is now resolved in https://github.com/asciidoctor/asciidoctor.js/commit/072c487d33a83a2ae2e39902521812f15f82dd43

Maybe we should run this npm task on Travis ?

[2016-08-24 20:06] mojavelinux commented on #72
Thanks for clarifying. The reason I ask is because I think this should be automated, which effectively documents the steps that need to be taken.

Definitely. (We could even push the examples to the gh-pages branch so it's possible to try the examples without having to run the build).

[2016-08-24 20:11] mojavelinux commented on #211
:+1:

[2016-08-25 13:06] cmoulliard opened #212 "Output file is ".html""
When we use as input a directory path to call the function `processor.$convert('./examples"', options);`, then the html file generated within the output directory is named `.html` file without any prefix.

Of course, if the source directory contains several adoc files, then the result are always inserted within the file `.html`

[2016-08-25 19:45] mojavelinux commented on #212
There are two things to point out here. First, the convert method is only for converting a string that contains AsciiDoc. You need to use the convert_file method any time you are converting a file. That brings me to my second point. The processor only accepts a single file as input. It does not support a glob expression. You need to wrap the call in a loop that finds the files and passes them each

[2016-08-26 10:16] cmoulliard opened #213 "Proposition: embed the asciidoctor styles: foundation, colony, ..."
During the build process of the npm module of asciidoctor, the `asciidoctor.css` file is packaged under the css directory (https://github.com/asciidoctor/asciidoctor.js/blob/master/npm/builder.js#L356).

As the `asciidoctor-stylesheet-factory` [project](https://github.com/asciidoctor/asciidoctor-stylesheet-factory) also proposes additional styles like foundation, colony, github, iconic, golo, ...

[2016-08-26 19:02] mojavelinux commented on #213
If we publish additional stylesheets, it should be done through a separate npm package. The default stylesheet is a minimum requirement for Asciidoctor to function (since it adds the styles by default in a standalone document). Anything non-essential should be a separate package.

I'm hesitant about packaging the other stylesheets from the stylesheet factory as they aren't tested at the moment for

[2016-09-01 05:59] cmoulliard commented on #5
What is the status of this integration ? Can we now use the jade or haml backend with asciidoctor.js ?

[2016-09-01 06:40] cmoulliard commented on #213
See my comment here : https://github.com/darshandsoni/asciidoctor-skins/issues/13#issuecomment-243374844

[2016-09-01 14:59] cmoulliard commented on #5
As we can't use the non built-in backends with asciidoctor.js, then we should catch the following error to display a message like "Not yet supported".

options used :

[code]

Result

[code]

[2016-09-01 15:29] cmoulliard opened #214 "Some examples image are missing"
When we run the examples `node npm/examples.js`, an error is throw as some pictures are missing

[code]

[2016-09-01 15:32] cmoulliard commented on #214
See PR - https://github.com/asciidoctor/asciidoctor.js/pull/215

[2016-09-01 15:41] #214 closed

[2016-09-01 15:45] cmoulliard opened #216 "userguide_test.html & asciidoctor_example.html examples contain an empty body"
The 2 examples `userguide_test.rb` and `asciidoctor_example.rb` generate  HTML with an empty body.

See code source after

[code]
This empty body could be related to different problems

1) The opal js dependency  is not there and then opal hasn't been started to execute the js script

![screenshot 2016-09-01 17 54 29](https://cloud.githubusercontent.com/assets/463790/18174264/3776e006-706d-11e6-9f

[2016-09-01 16:14] #216 closed

[2016-09-01 16:51] Mogztter commented on #216
If you are viewing these files with Firefox, it should work.
Chrome doesn't allow to include/load "file:///" for security reason
(cross-orign)

Le 1 sept. 2016 6:14 PM, "Charles Moulliard" <notifications@github.com> a
écrit :

Closed #216 <https://github.com/asciidoctor/asciidoctor.js/issues/216>.

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, vi

[2016-09-06 08:39] cmoulliard opened #220 "Different behaviors when compared with Asciidoctor Ruby"
* Render to RevealJS

If I use this command in a terminal using asciidoctor ruby 1.5.4

[code]

then the adoc file will be converted into a RevealJS HTML file and the slides could be visualized in a browser. Remark: reveal.js project has been downloaded and is part of the folder containing the html generated.

If I try to do the same thing using asciidoctor.js, then we get this error

[code]

Here

[2016-09-08 13:13] cmoulliard opened #221 "Default asciidoctor-default.css file not found"
If I use asciidoctor.js to render an adoc file to HTML then I get this error :

[code]

* This problem is related to the fact that the packaging of the gem is different from nodejs where the default css file is saved into the folder `dist/css` under the name `asciidoctor.css`
* Asciidoctor.js calculates a relative path that it can't retrieve.

I have also observed that Asciidoctor Ruby when it gen

[2016-09-08 14:45] cmoulliard commented on #221
The workaround of the first point is to create a directory where the asciidoctor.js command is executed with the name `data/stylesheets` and containing of course the default asciidoctor-defaullt.css file

FYI: The error is throw when this ruby code (https://github.com/asciidoctor/asciidoctor/blob/master/lib/asciidoctor/stylesheets.rb#L26) --> js (`return "<style>\n" + (self.$primary_stylesheet_dat

[2016-09-08 16:18] mojavelinux commented on #221
The reason this doesn't work is because, historically, Asciidoctor.js didn't support the standalone document output. Now that it does, we need to restore these features.

If we decide to keep the current packaging, it's possible to forcefully for Asciidoctor.js to override the constant Asciidoctor::Stylesheets::STYLESHEETS_DATA_PATH. The other option is to change the packaging structure.

I'm not

[2016-09-08 16:48] cmoulliard commented on #221
Here is a test case that you can use to reproduce the issue to access css file (using nodejs tape)

Remark : don't forget to create a directory `data/stylesheets` at the root of the project containing the default css of asciidoctor.

[code]

--> produce as content this html which contents the Google Font (So forget my second remark)

Remark : style is empty as the css file used is empty ;-)

[code

[2016-09-08 16:50] cmoulliard opened #222 "Karma & jasmine are very difficult to debug"
Why don't we use nodejs tape as Testing framework instead of Karma/Jasmine. That should simplify how we debug the tests case as configuring  Karma/Jasmine is not so easy ?

[2016-09-08 16:57] mojavelinux commented on #221
Thanks for the test case!

The correct way to set an attribute-based flag in Asciidoctor is to use an empty string or boolean true. Technically, any value will work, but those are the officially supported values.

Technically, you should be using boolean true here instead of a string value.

[2016-09-09 20:21] Mogztter commented on #222
I do not have a strong opinion on Node.js testing framework so I'm willing to switch from Karma/Jasmine to Tape.

Could you please provide a sample or create a pull request to show how this will improve/simplify tests in practice ?
Please note that we need to test on different environments: browser (Phantom.js), Node.js, Nashorn, CommonJS...

[2016-09-12 07:36] cmoulliard commented on #222
Here is a tape example : https://github.com/bucharest-gold/litoria/blob/master/test/asciidoctor-test.js#L93-L113

Tape is a node module, so you can of course test the nodejs code. But it can be extended using tape-run to browserify the tests (https://github.com/juliangruber/tape-run).
There is also a test runner client called prova that we could use to test our tape code running at the client side

[2016-09-12 08:45] cmoulliard commented on #221
Personally, I would prefer to keep the same structure between Node.js package and Ruby Gem concerning the location of the assets `data/stylesheets` and the name used for the default-asciidoctor.css file

Remark :  This question has been debated last year too - https://github.com/asciidoctor/asciidoctor.js/issues/116#issuecomment-121773163

[2016-09-12 11:22] mojavelinux commented on #221
I'm honestly fine either way.

[2016-09-12 19:44] #173 closed

[2016-09-12 19:44] Mogztter commented on #169
And done as part of #182

[2016-09-12 19:44] #169 closed

[2016-09-12 19:47] Mogztter commented on #198
pong @bguiz  :smile:

[2016-09-14 08:49] bguiz commented on #198
Sorry for the late response - I switched to using the Ruby asciidoctor

I'll close this ticket since I'm not going to follow up

[2016-09-14 16:30] Mogztter commented on #198
Ok, thanks for you reply.
By any chance, did you keep your JavaScript code + AsciiDoc files ? I would like to reproduce and fix this issue :smile:

[2016-09-16 03:15] mojavelinux commented on #201
@Mogztter I think part of the problem we're running into here is that the samples in the README specify the inline doctype. We know that most people just copy and paste the examples to try them out, but of course go on to use that code for converting a full document. I think we should not specify the doctype by default in the samples, and perhaps only mention the inline doctype in a dedication sec

[2016-09-16 09:30] Mogztter commented on #201
@mojavelinux Indeed, I've opened a pull request to simplify examples. In a second time I will add more use cases on the user manual: https://github.com/asciidoctor/asciidoctor.js/blob/master/manual.adoc

[2016-09-16 09:59] mojavelinux commented on #201
I'll also mention that there's a bunch of fun examples from the chronicles example in the Asciidoctor PDF repository. See https://github.com/asciidoctor/asciidoctor-pdf/blob/master/examples/chronicles-example.adoc

[2016-09-16 10:44] cmoulliard commented on #221
Question

The generated opal js code calculates the path as such

[code]

As the path calculated does not allow to get the resources within the node_modules directory (like the ruby gem), how we change the code ?
Can we override the path defined within the Asciidoctor Ruby class (https://github.com/asciidoctor/asciidoctor/blob/master/lib/asciidoctor.rb#L172)  in a  Ruby class packaged within ascii

[2016-09-16 15:47] Mogztter commented on #201
looooool :beers:

[2016-09-16 20:48] mojavelinux commented on #201
:beers:

[2016-09-16 22:56] mojavelinux commented on #221
That's certainly one approach. I prefer to keep modifications needed by Opal in the Asciidoctor.js project so that Asciidoctor.js doesn't need to wait on updated. However, if there's something core can do to make resolution easier, I'm happy to consider that change as well.

[2016-09-17 06:25] cmoulliard commented on #221
This is exactly what I have suggested. Making the modification within asciidoctor.jsp project

[2016-09-17 06:25] cmoulliard commented on #221
What is the other approach ?

[2016-09-17 06:35] mojavelinux commented on #221
The other approach is putting patches in core (Ruby) to follow a different branch when the engine is Opal. We still have cases of that.

[2016-09-17 07:27] cmoulliard commented on #221
This approach is perhaps better as we will keep in one place the core
features of asciidoctor (ruby,opal). Such a branch doesn't exist under
asciidoctor ruby project - right ?

On Sat, Sep 17, 2016 at 8:35 AM, Dan Allen <notifications@github.com> wrote:

--
Charles Moulliard
Apache Committer & PMC / Architect @RedHat
Twitter : @cmoulliard | Blog :  http://cmoulliard.github.io

[2016-09-17 08:04] mojavelinux commented on #221
Nope, we don't maintain an opal branch in core. Either the feature goes directly into the master branch of core or we patch it in this project (in essence, this project is the opal branch).

[2016-09-17 14:51] Mogztter opened #225 "Make Asciidoctor module available through UMD"
The [UMD (Universal Module Definition)](https://github.com/umdjs/umd) pattern typically attempts to offer compatibility with the most popular script loaders of the day (e.g RequireJS amongst others).

`Opal` global object is progressively disappearing from the public API (see #180).

We want to create a consistent way of using Asciidoctor.js in the client (browser) and in the server (Node.js).
###

[2016-09-17 14:59] Mogztter opened #226 "Extensions module should be included in asciidoctor-core.js"
Docbook5, Docbook45 and Extensions are included by default in Asciidoctor Ruby. I think we should follow the same rule.

I believe those modules are relatively small compared to the rest of the code and will not affect performance.
- `asciidoctor-core.js` should include core (with extensions API)
- `asciidoctor.js` should include core + Opal
- Docbook5 and Docbook45 converters should be moved to a

[2016-09-17 22:03] mojavelinux commented on #225
I support this proposal. The API still feels a bit too lab-oriented at the moment. We need to present a more consumable interface.

Since extensions have proved useful in JavaScript, I support including them to the asciidoctor.js module.

I'll also point to https://github.com/asciidoctor/asciidoctor.js/blob/master/benchmark/run.js, which reveals the complex situation with server-side JavaScript (N

[2016-09-18 11:11] Mogztter commented on #226
@mojavelinux I agree! I will create an "asciidoctor-docbook" repository to move DocBook converters to a separate module.

How do you want to handle the different versions of DocBook ? Two separate modules ?

[code]

[2016-09-18 11:20] mojavelinux commented on #226
You went a bit further than I was thinking by proposing another repository, but if that makes it easier to consume as a UMD module, then I say :+1:

If you decide to take the separate repository route, one repository will do as the two converters are basically just different variants.

[2016-09-19 07:43] cmoulliard commented on #225
Excellent idea to use UMD. +1

[2016-09-19 11:19] Mogztter commented on #221
I can reproduce this issue but I'm not entirely satisfy with the fix (see the pull request).
The path really depends on the environment, that's the reason why we are setting `baseDir` in specs:

 * [bower/bower.spec.js](https://github.com/asciidoctor/asciidoctor.js/blob/4814d7b1a70b2bb46114703e1d18ed10bb7e7b6e/spec/bower/bower.spec.js#L4)
 * [commonJS/asciidoctor-all.spec.js](https://github.com/as

[2016-09-19 11:59] cmoulliard commented on #221
Can we determine the environment (nodejs, commonjs, bower) where the javascript is executed & update the path accordingly ?

[2016-09-19 12:41] Mogztter commented on #221
Yes we can but I don't know if this is sufficient... on the good side, we now provide a better default value :smile:

[2016-09-20 18:03] Mogztter commented on #175
I think https://github.com/asciidoctor/asciidoctor.js/pull/223 partially "resolve" this issue. We could also go one step further and return `undefined` in the wrapper API #180 ?

Can I create an issue in core to track this issue ?

[2016-09-20 18:18] Mogztter opened #228 "Create an npm task to generate the "dist" directory"
This is useful to make sure that everything is in order before releasing. We could also add a "--dry-run" option to the `release` task.

[2016-09-20 18:25] Mogztter opened #229 "Extract reusable build modules to their own repository"
* [ ] Download dependencies, files...
* [x] Opal compiler
* [x] Log
* [x] Uglify (based on Google Closure Compiler)
* [x] FS (concat, mkdirs, untar, recursive delete...)
* [x] JDK download

This should significantly reduce the size of `builder.js`.

[2016-09-20 20:44] Mogztter opened #230 "Publish Asciidoctor.js to AWS Lambda"
As suggested by @jgaskins this could be a great example of how a Ruby library can run smoothly on [AWS Lamdba](http://docs.aws.amazon.com/lambda/latest/dg/welcome.html) using Opal.

I've already prototype something with Amazon API Gateway. The goal is to be able to convert an AsciiDoc document using a simple Web Service.

[2016-09-21 18:11] mojavelinux commented on #175
Absolutely.

[2016-09-25 21:57] mojavelinux commented on #229
I like it!

I'm curious, what's the origin of the word bestikk?

[2016-09-26 07:35] Mogztter commented on #229
Bestikk is Norwegian for Cutlery.
I kinda like the idea of a set of "simple" tools and Bestikk sounds great :wink:

[2016-09-26 08:50] mojavelinux commented on #229
I love it!

[2016-09-30 21:01] hypery2k commented on #102
any plans for PDF?

[2016-09-30 21:11] mojavelinux commented on #102
As Opal improves, so those the chance of cross compiling Asciidoctor PDF. I'm have no idea how the performance is going to translate, though, since Asciidoctor PDF uses very deep recursion.

I still think a better approach is to use a native PDF library for JavaScript and recreate the converter. That's a big undertaking, so maybe that's a separate effort from transpiling. Either way, we aren't goi

[2016-10-01 19:19] rahmanusta opened #234 "Improvements about nil for Asciidoctor.js"
When we convert Ruby code to JS code, nil is represented as an object that constructed from `$NilClass`.

We can check whether an object is **nil** like `object["$nil?"]`. Can we create an alias to comply with the following usage: `object.isNil()` or `object.$isNil()` ? I think using dot notation is clear than the bracket notation, but **?** is not an allowed character for JS names.

Also, if an o

[2016-10-01 23:34] mojavelinux commented on #234
I agree a nicer API is needed. I don't think toString() should return null though because then it wouldn't be a string. I think it should return either empty string (as it is in Ruby, preferred) or the string null (as it is in Java).

[2016-10-02 00:46] rahmanusta commented on #234
I agree with empty string, it will be good at least for jade templates

[2016-10-05 20:55] #94 closed

[2016-10-05 20:59] mojavelinux commented on #94
:+1:

[2016-10-06 20:08] #221 closed

[2016-10-06 20:15] Mogztter opened #239 "Upgrade to Asciidoctor 1.5.5"
https://github.com/asciidoctor/asciidoctor/releases/tag/v1.5.5

[2016-10-06 20:34] #228 closed

[2016-10-06 20:34] #239 closed

[2016-10-06 20:37] Mogztter commented on #220
I think both issues are now fixed in #227 and #219.
@cmoulliard Can I close this issue ?

[2016-10-06 20:45] Mogztter commented on #234
Hi @rahmanusta

You could use `Opal.nil`, see https://github.com/asciidoctor/asciidoctor.js/blob/76964f479996b740c37e09e0f4b655dce0a927d0/src/asciidoctor-core-api.js#L76

As you can see I return `undefined` here and there but I could return an empty string if you think this is more appropriate.

I will try to override the `toString` function on `Opal.nil`.

[2016-10-06 21:02] Mogztter commented on #234
One idea is to assign `Opal.nil` to empty string:
[code]
Unfortunately this is not working because in Ruby you can call methods on nil class (for instance `empty?`):

[code]

Another idea is to use the wrapper API in the Jade templates. In your example, we could return an empty string if the `role` method returns `Opal.nil`: https://github.com/asciidoctor/asciidoctor.js/blob/76964f479996b740c37e09

[2016-10-06 21:19] Mogztter commented on #226
If we do that, that mean we will consume the converters as follows:

[code]

or:

[code]

because one repository means one module and only one name `asciidoctor-docbook` (as far as I know).

[2016-10-06 21:53] Mogztter opened #242 "Move asciidoctor-latex.js to asciidoctor-latex repository"

[2016-10-07 10:00] cmoulliard commented on #220
Yes

[2016-10-07 10:00] #220 closed

[2016-10-07 16:22] Mogztter commented on #220
:+1:

[2016-10-08 14:28] Mogztter commented on #202
@cmoulliard I didn't have the chance to look at this issue ? Did you find a workaround ? Do you have a test case so I can easily reproduce this issue ?

[2016-10-09 13:17] #212 closed

[2016-10-09 13:18] Mogztter commented on #201
Done https://github.com/asciidoctor/asciidoctor/issues/1890

[2016-10-09 16:54] Mogztter commented on #222
I'm trying Mocha, I will also try Tape :wink:

[2016-10-14 22:11] mojavelinux commented on #234
I think the right thing to do is add this as a feature of our wrapper API, but keep in mind that there are many such cases. This would allow the template not to have to worry about the details. If the value is a nil object, it should become null.

[code]

It seems reasonable to me that we can write the template that way.

[2016-10-14 22:27] rahmanusta commented on #234
@mojavelinux @Mogztter It is quite good. I think as a first step we can write an extension file which manipulates some existing functions with their prototypes.

[2016-10-14 22:55] mojavelinux commented on #234
@rahmanusta In fact, we've already done that. That's what https://github.com/asciidoctor/asciidoctor.js/pull/180 is all about.

[2016-10-17 12:01] rahmanusta commented on #234
@mojavelinux  Yes, it is what I have thought! What is the state of this work @Mogztter ?

[2016-10-17 13:49] Mogztter commented on #234
@rahmanusta The first version of the API is merged on master. I didn't spend too much time on improving the return value (when the value is "nil" object) but feel free to do so.
All the code is here: https://github.com/asciidoctor/asciidoctor.js/blob/master/src/asciidoctor-core-api.js

You can find an example here: https://github.com/asciidoctor/asciidoctor.js/blob/master/src/asciidoctor-core-api.

[2016-10-21 22:11] rahmanusta commented on #234
@Mogztter It is awesome! I would love to test use this wrapper api. So, what do you think amending Asciidoctor Jade templates with the wrapper functions ?

[2016-10-21 22:24] mojavelinux commented on #234
Once a release is out, definitely.

[2016-10-21 22:37] rahmanusta commented on #234
:+1:

[2016-10-22 09:24] Mogztter commented on #234
I've released a pre-version `1.5.5-3`, if you want to do some testing.
@rahmanusta Feel free to open a pull request to improve the wrapper API in order to return "blank" value when it makes sense.

[2016-10-22 10:01] rahmanusta commented on #234
Thank you dear @Mogztter

[2016-10-23 12:35] Mogztter commented on #242
https://github.com/asciidoctor/asciidoctor-latex/pull/48

[2016-10-23 12:47] Mogztter commented on #162
@mojavelinux Resolved in https://github.com/asciidoctor/asciidoctor.js/pull/248

[2016-10-25 00:44] bguiz commented on #102
I came across an interesting ideas around ASTs for documents, and a markdown implementation by @wooorm

There's some discussion here:
https://github.com/wooorm/unist/issues/8

If we do consider as proper rewrite instead of a transpiled solution, as @mojavelinux has suggested, it will be worth having an asciidoc parser that outputs an AST, and then have PDF and EPUB writers that take in this as inp

[2016-10-25 02:11] bguiz commented on #102
@mojavelinux that's excellent - I'm not so familiar with the asciidoc codebase, mind pointing me in the right direction (at perhaps a couple of files) ... say at the bits which create said ASTs?

[2016-10-25 02:38] mojavelinux commented on #102
The real question is whether you want to make this output in Ruby or JavaScript.

If you're interested in doing it in JavaScript, I recommend studying @Mogztter's work on the Reveal.js converter. That essentially accounts for every node and taps deep into the AST. See https://github.com/asciidoctor/asciidoctor-reveal.js/tree/master/templates/jade for the templates that handle each node.

You don't